<%= form_for(@prod.bookmarks.build, remote: true) do |f| %>
  <%= hidden_field_tag :prod_id, @prod.id %>
  <%= f.submit "+", class: "bookmark", id: "new-bookmark" %>
<% end %>
<script type="text/javascript">
  var bb=document.querySelector(".menuitem > div.button#bookmark-button");
  bb.setAttribute("marked",false);
  bb.classList.remove("hidden");
</script>