<% if logged_in? && @prod.owner != @current_user %>
  <% if @prod.bookmarked?(@current_user) %>
    <%= render partial: 'bookmarks/unbookmark' %>
  <% else %>
    <%= render partial: 'bookmarks/bookmark' %>
  <% end %>
<% end %>
