$("#bookmarked_by")
.html(
"<%= escape_javascript(render(partial: 'bookmarks/bookmark_list', locals: { bookmarkers: @prod.bookmarked_by })) %>\
<%= escape_javascript(render(partial:'bookmarks/bookmark_form')) %>"
);
