
<%= form_for(@prod.bookmarks.find_by(user_id: @current_user.id),
              html: {method: :delete},
              remote: true) do |f| %>
  <%= hidden_field_tag :prod_id, @prod.id %>
  <%= f.submit "-", class: "bookmark", id: "new-bookmark" %>
<% end %>
<script type="text/javascript">
  var bb=document.querySelector(".menuitem > div.button#bookmark-button");
  bb.setAttribute("marked",true);
  bb.classList.remove("hidden");
</script>