<div id="login" class="login-form">
  <%= form_for(:session, url: login_path) do |f| %>

    <%= f.hidden_field :provider, value: 'email' %>

    <div class="field"><%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', autocomplete: "email", autofocus: "true", inputmode: "email", required: "true" %></div>

    <div class="field"><%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', autocomplete: "off", required: "true" %></div>

    <div class="field">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <span>Remember me on this computer</span>
        <%= f.check_box :remember_me, class: "form-control", onchange:"trySubmit(this)" %>
      <% end %>
    </div>
    <script>
      function trySubmit(checkbox){
        if (checkbox.checked){
          if (checkbox.form) {
            if (checkbox.form.reportValidity()) checkbox.form.submit();
          }
        }
      }
    </script>
    <%= f.submit "Log in" %>
    <%= link_to "(forgot password)", new_password_reset_path %>
  <% end %>
</div>
