<% provide(:title, "Forgot password") %>

<div class="login-form">
  
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <h3><u>Password reset request</u></h3>
    <p>
      Please provide your actual email address you used to create an account on NineLifes.
    </p>
    <p>
      Upon this request submission you would receive an email message with subsequent procedure description.
    </p>
    <div class="field">
      <%= f.label :email do %>
        Email<br>you used at registration
      <% end %>
      <%= f.email_field :email, class: 'form-control', autocomplete: "email", autofocus: "true", inputmode: "email", required: "true" %>
    </div>
    <%= f.submit "Request password reset" %>
  <% end %>
</div>