Sample App

Hi <%= @user.name %>,


A password reset was requested for this email address. 
If you have not been expecting this email please report to admin@sampleapp.com.

To proceed with password reset paste a link below to your browser's address bar.

<%= edit_password_reset_url(@user.reset_token,email: @user.email) %>

This link will expire in two hours.
