<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
A password reset was requested for this email address. 
If you have not been expecting this email please report to admin@sampleapp.com.
</p>
<p>
To proceed with password reset click on the link below, or paste it to your browser's address bar.
</p>
<p>This link will expire in two hours.</p>
<%= link_to edit_password_reset_url(@user.reset_token,
                        email: @user.email),
                        edit_password_reset_url(@user.reset_token,
                        email: @user.email) %>