<% commentId="comment-#{comment.id}" %>
<% my = @current_user == comment.author %>
<div class="comment" id="<%= commentId %>" <%= "my" if my %> >
  <a id="comment-<%= comment.id %>"></a>
  <div class="cloud">
    <%= render partial: "users/user_link", locals: {user: comment.author} %>
    <div class="content">
      <% if comment.pictures.any? %>
        <% comment.pictures.each do |pic| %>
          <div class="picture">
            <%= image_tag pic.picture %>
            <% if my %>
              <%= link_to "Delete picture", destroy_picture_url(pic.id), method: :delete, class: "button delete", remote: true %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <pre><%= sanitize comment.content %></pre>
    </div>
    <div class="actions">
      <div class="timestamp">
        <% if comment.created_at != comment.updated_at %>
        Edited
        <% else %>
        Posted
        <% end %>
        &nbsp; <%= time_ago_in_words(comment.updated_at) %> &nbsp;ago.
      </div>
      <% if @current_user %>
        <% if @current_user.admin? || my %>
          <%= link_to comment_path(comment.id), remote: :true, method: :delete, data: { confirm: "You sure?" } do %>
            <div class="button raised delete">
              Delete
            </div>
          <% end %>
        <% end %>
        <% if @current_user == comment.author %>
          <%= link_to edit_comment_path(id: comment.id),
            id: "edit_comment_#{comment.id}",
            method: :get,
            remote: :true do %>
            <div class="button raised edit">
              Edit
            </div>
          <% end %>
        <% else %>
          <%= link_to reply_on_comment_path(id: comment.id),
            id: "new_comment_on_#{comment.model_name.name}_#{comment.id}",
            method: :get,
            remote: :true do %>
            <div class="button raised add">
              Reply
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="replies" id="replies">
    <% if comment.replies.any? %>
      <% if @thread %>
        <%= render comment.replies %>
      <% else %>
        <%= link_to "Show replies", replies_on_comment_url(comment, page: 0), remote: true unless comment.replies.empty? %>
      <% end %>
    <% end %>
  </div>
</div>
