<% case comment.commentable_type %>
  <% when "Comment" %>
    <% type = "Reply" %>
  <% when "Prod" %>
    <% type = "Comment" %>
  <% when "MessageGroup" %>
    <% type = "Send" %>
<% end %>

<div class="comment" id="<%= "comment_on_#{comment.commentable_type}_#{comment.commentable_id}" %>">
  <a id="comment_form"></a>
  <%= form_for comment, remote: true, html: {novalidate: "novalidate"} do |f| %>
    <%= f.hidden_field :commentable_id, :value => comment.commentable_id %>
    <%= f.hidden_field :commentable_type, :value => comment.commentable_type %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="editor previews content raised" id="previews">
      <div class="user">
        <%= render partial: 'users/user_line', locals: {user: comment.author} %>
      </div>
      <%= f.file_field :pics, accept: 'image/jpeg,image/gif,image/png', multiple: true, class: "invisible", onchange: "checkFiles(this)", required: "required" %>
      <%= f.label :pics, class: "button raised add", alt: "Add pictures" do %>
        <%= render file: 'app/assets/images/button-add2.svg' %>
      <% end %>
      <%= f.text_area :content %>
      <%= f.submit type, class: "button save raised" %>
    </div>
  <% end %>
  <script type="text/javascript">
    function checkFiles(input) {
      const MAX_SIZE = 5;
      var previews = input.parentNode;
      Array.prototype.slice.call(previews.querySelectorAll(".preview"))
      .forEach(function(preview){
        delete previews[preview.id];
        previews.removeChild(preview);
      });
      var files = Array.prototype.slice.call(input.files);
      files
      .filter(function(f){ // filter valid
        if (f.size/1024/1024 > MAX_SIZE) {
          previews.dataset.error = "Some files exceed size limit "+MAX_SIZE.toString()+"MB and therefore were ommited";
          return false;
        }
        else {
          delete previews.dataset.error;
          return true;
        }
      })
      .map(function(f){ // create preview elements
        var preview = document.createElement("div");
        var src = URL.createObjectURL(f);
        preview.className = "preview";
        preview.id = f.name;
        preview.dataset.info = f.name+" ["+Math.round(f.size/1024)+"KB]";
        preview.innerHTML = "<img class=\"raised\" src="+src+" />";
        return preview;
      })
      .reduce(function(c,p){ // insert previews at the beginning of previews container
        if (!c[p.id]) {
          c.insertBefore(p,c.children[1]);
          c[p.id] = p;
        }
        return c;
      },previews);
    };
  </script>
</div>
