var c=$("<%= j render partial: 'comments/comment_form', locals: {comment: @new_comment} %>")
, _at = $("#<%= "#{@new_comment.commentable_type.downcase}-#{@new_comment.commentable_id}" %>>#replies");
_at.append(c);
c.append( $("<div class='button delete raised' onclick='javascript: $(this).parent().remove();'><%= j render file: 'app/assets/images/button-destroy.svg' %></div>"));
