<% provide(:title, "Comment over #{@target}") %>
<%= render partial: 'comments/comment_form', locals: {comment: @new_comment} %>
<%= link_to url_for(@target) do %>
  <div class="button delete" style="width: 100%">
    Cancel
  </div>
<% end %>
