$("div#comment_on_<%= "#{@comment.commentable_type}_#{@comment.commentable_id}" %>")
.<%= @comment.commentable_type == "Comment" ? "replaceWith" : "before" %>(
  $("<%= j render @comment %>"),
)
.find("form#new_comment")[0].reset();
location.href="#<%= "comment-#{@comment.id}" %>";
