var at = $("div.comment#comment-<%= @comment.id %>");
var cancel_edit_button = $('<div class="button delete raised"><%= j render file: "app/assets/images/button-destroy.svg" %></div>');
at.replaceWith($("<%= j render partial: 'comments/comment_form', locals: {comment: @comment} %>")
.append(cancel_edit_button));
cancel_edit_button.on('click',function(e){
  e.target.parentNode.replaceWith(at[0]);
});
