$("a[href*=\"<%= request.path %>\"]")
.replaceWith(
  $("<%= link_to "Load more...", replies_on_comment_url(@target, page: @page+1), remote: true unless (@page+1) > @max_page %>\
    <%= j render @comments %>"));
