<div class="tags">
  <% prod.tags.includes({taggable: [:owner]}, :similar).each do |tag| %>
    <%= render partial: 'tags/tag', locals: { tag: tag } %>
  <% end %>
  <%= render partial: 'tags/tag_form', locals: {taggable: prod} if @current_user && (@current_user == prod.owner) %>
</div>
