<% num = Prod.comments_per_page %>
<% page = 1 %>
<% if !@page.nil? %>
  <% page = @page+1 %>
  <% num = Prod.comments_per_page*page %>
<% end %>
<div class="comments" id="comments">
  <% if @thread %>
    <%= render @comment %>
  <% else %>
    <%= link_to "Load more comments...", comments_on_prod_url(@prod, page: 1), remote: true unless @prod.comments.count <= num %>
    <%= render @prod.comments.last(num) %>
  <% end %>
  <% if @current_user %>
    <%= render partial: 'comments/comment_form', locals: { comment: @prod.comments.build(author: @current_user) } %>
  <% end %>
  <script type="text/javascript">
    var cb=document.getElementById("messenger-button");
    if (cb) cb.classList.remove("hidden");
    $('a[id^="new_comment_on"], a[id^="edit_comment"]').on('ajax:success',
    function RollbackCommentUrl(){
      history.replaceState({},"<%= "#{@prod.title}" %>","<%= "#{url_for(@prod)}" %>");
    });
  </script>
</div>
