<% if @prod.pictures.any? %>
<%   @pic = @prod.pictures.first %>
<% else %>
<%   @pic = @prod.pictures.build %>
<% end %>

<input class="invisible" type=checkbox id="gallery-toggle" />
<div class="pictures" id="pictures" loaded="false">
  <div class="view scrollable" id="view">
    <%= image_tag @pic.picture.url, class: "imageview", draggable: false,
      id: "imageview",
      "data-id" => "picture-#{@pic.id}",
      "data-src" => "#{@pic.picture.url}",
      "data-x" => "#{@pic.x}",
      "data-y" => "#{@pic.y}",
      "data-scale" => "#{@pic.scale}" %>
  </div>
  <div class="shade" id="shade"></div>
  <div class="button raised hidden" id="zoom-in">+</div>
  <div class="button raised hidden" id="zoom-out">-</div>
  <div class="gallery" id="pictures-view">
    <% if @pic.picture.url %>
      <%= form.fields_for :pictures, prod.pictures do |pic| %>
        <% id=pic.object_name.parameterize("_") %>
        <div class="pic-tile">
          <%= pic.hidden_field :id %>
          <%= image_tag pic.object.picture.thumb.url, class: "picture",
            id: id,
            "data-src" => "#{pic.object.picture.url}",
            "data-id" => "#{id}",
            "data-x" => "#{pic.object.x}",
            "data-y" => "#{pic.object.y}",
            "data-scale" => "#{pic.object.scale}" %>
          <%= pic.hidden_field :x %>
          <%= pic.hidden_field :y %>
          <%= pic.hidden_field :scale %>
          <%= pic.check_box :remove_picture, class: "invisible" %>
          <%= pic.label :remove_picture, "x" , class: "button raised delete" %>
        </div>
      <% end %>
    <% end %>
    <%= form.fields_for :add_pictures, prod.pictures.new do |new| %>
      <script type="text/javascript">
        var newname = "<%= j newname=new.object_name %>";
        var newid = "<%= newname.parameterize("_") %>";
      </script>
      <%= new.label :pictures, "+", class: "button raised add" %>
      <%= new.file_field :pictures,
        accept: "image/*",
        multiple: true,
        class: "invisible",
        onchange: "addPic(this)" %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  app.gem.gallery = gallery(document.getElementById("pictures"));
  function addPic(fileselement){
    var files = fileselement.files;
    var root = fileselement.parentNode;
    var old;
    if (files.length == 0) return;
    $(root).children('input[id^='+newid+'_new_params]').remove();
    for (i in files){
      if (files[i].size <= (5*1024*1024)) {
        var fname = newname+"[new_params]["+i+"]";
        var fid = newid+"_new_params_"+i;
        var image = element("img.picture#"+fid);
        image.setAttribute("loaded",false);
        image.setAttribute("data-id",fid);
        image.setAttribute("data-x","0");
        image.setAttribute("data-y","0");
        image.setAttribute("data-scale","1.0");
        for (d in image.dataset){
          var io = element("input.invisible");
          io.setAttribute("name",fname+"["+d+"]");
          io.id = fid+"_"+d;
          io.setAttribute("value",image.dataset[d]);
          if (old=document.getElementById(io.id)){
            old.parentNode.removeChild(old);
          }
          root.appendChild(io);
        }
        if (old=document.getElementById(fid)){
          old.parentNode.removeChild(old);
        }
        app.gem.gallery["pictures-view"].appendChild(image);
        image.addEventListener("load",function(e){
          this.setAttribute("loaded",true);
        });
        image.src = window.URL.createObjectURL(files[i]);
        image.setAttribute("data-src", image.src);
        app.gem.gallery.pics.push(image);
      }
    }
  }
  compileToggles([document.getElementById("gallery-toggle")]);
</script>
