<div class="item-row prod-row">
  <div class="item-heading">
    <div class="gem-owner">
      <%= render partial: "users/user_link", locals: { user: prod.owner } %>
    </div>
    <div class="title">
      <%= link_to prod.title, prod_path(prod) %>
    </div>
    <div class="subtitle">
      <%= prod.subtitle %>
    </div>
    <%= render partial: "prods/prod_tags", locals: {prod: prod} %>
  </div>
  <%= render partial: "shared/pictures_collage", locals: { pictures: prod.pictures.limit(4) } %>
  <div class="item-subject">
    <%= link_to prod_path(prod), class: "block" do %>
      <div class="description">
        <%= markdown(prod.description.truncate(250)).html_safe %>
      </div>
    <% end %>
  </div>
</div>
