<% if current_prod == nil  then %>
  <% current_prod = @prods[0] %>
<% end %>

<input class="invisible" type=checkbox id="gems-panel-toggle" />
<aside class="gems raised">
  <div class="gems-list" id="gems-list">
    <script type="text/javascript">
      document.getElementById("logo_progress").max=0;
      document.getElementById("logo_progress").value=0;
      function ImgLoad(){
        document.getElementById("logo_progress").value++;
      }
    </script>
    <% @prods.each do |prod| %>
      <%= render partial: 'prods/prod_line', locals: {prod: prod, remote: :true, current: prod.id == current_prod.id ? true : false} %>
    <% end %>
  </div>
</aside>
<script type="text/javascript">
  app.gems = new Rotator((function(){
        var as=document.querySelectorAll(".gems-list a.prod_link");
        var i=as.length;
        var a=new Array(i);
        while (i--){
          a[i] = as[i].href;   // pick a link to a prod;
        }
        return a;
      })());
  document.getElementById("gems-list").scrollTop = document.querySelector(".gems-list .gem-link.current").offsetTop || 0;
</script>
