<% if !@pic.nil? %>
  <input class="invisible" type=checkbox id="gallery-toggle" />
  <div class="pictures" id="pictures" loaded="true">
    <div class="view scrollable" id="view">
      <%= image_tag @pic.picture.url, class: "imageview", draggable: false,
        id: "imageview",
        "data-src" => "#{@pic.picture.url}",
        "data-id" => "picture-#{@pic.id}",
        "data-x" => "#{@pic.x}",
        "data-y" => "#{@pic.y}",
        "data-scale" => "#{@pic.scale}" %>
    </div>
    <div class="shade" id="shade"></div>
    <div class="button raised hidden" id="zoom-in">+</div>
    <div class="button raised hidden" id="zoom-out">-</div>
    <div class="gallery" id="pictures-view">
      <% @prod.pictures.each do |pic| %>
        <!-- <div class="tile"> -->
          <%= link_to "#{url_for(@prod)}?pic=#{pic.id}", class: "thumbnail" do %>
            <%= image_tag pic.picture.thumb.url, class: "picture",
              id: "picture-#{pic.id}",
              "data-id" => "picture-#{pic.id}",
              "data-src" => "#{pic.picture.url}",
              "data-x" => "#{pic.x}",
              "data-y" => "#{pic.y}",
              "data-scale" => "#{pic.scale}" %>
          <% end %>
        <!-- </div> -->
      <% end %>
    </div>
  </div>
  <script type="text/javascript">
    app.gem.gallery = gallery(document.getElementById("pictures"));
    compileToggles([document.getElementById("gallery-toggle")]);
  </script>
<% else %>
  <div class="pictures" id="pictures" loaded="true">
    <div class="view scrollable" id="view">
      <%= image_tag "assets/prod-picture-placeholder.jpg", class: "imageview" %>
    </div>
  </div>
<% end %>
