<ul class="menu" id="tray">
  <li class="menuitem">
    <div class="button raised" id="gems-button">
  		<label for="gems-panel-toggle">
        <img src="<%= asset_path 'gems-icon.png'  %>" />
      </label>
    </div>
  </li>
  <li class="menuitem">
    <div class="button raised" id="gallery-button">
      <label for="gallery-toggle">
        <img src="<%= asset_path 'gallery-icon.png'  %>" />
      </label>
    </div>
  </li>
	<% if logged_in? %>
    <% unread_count = @current_user.unread_messages_count %>
		<% unless !@prod.nil? && (@prod.new_record? || @prod.owner == @current_user) then %>
	    <li class="menuitem">
		      <div class="button raised" id="bookmark-button">
						<label for="new-bookmark">
							<%= render file: 'app/assets/images/button-bookmark.svg' %>
						</label>
		      </div>
	    </li>
		<% end %>
		<li class="menuitem">
			<%= link_to new_prod_url, remote:true do %>
			<div class="button add raised">
				<%= render file: 'app/assets/images/button-add2.svg' %>
			</div>
			<% end %>
		</li>
    <li class="divider"></li>
    <li class="menuitem">
      <label for="messenger-panel-toggle">
        <% if @message_groups.nil? %>
          <%= link_to message_groups_url, id: "messenger-initializer-link", remote: true do %>
          <div class="button raised" id="messenger-button" <%= "counter=#{unread_count}" unless unread_count == 0 %>>
            <%= render file: 'app/assets/images/button-message.svg' %>
          </div>
          <% end %>
        <% else %>
          <div class="button raised" id="messenger-button" <%= "counter=#{unread_count}" unless unread_count == 0 %> >
            <%= render file: 'app/assets/images/button-message.svg' %>
          </div>
        <% end %>
      </label>
    </li>
	<% end %>
</ul>
