<% unread = 0 %>
<% newprod = false %>
<% html_opts = {class: "prod_link thumbnail"} %>
<% if remote %>
  <% html_opts["remote"] = :true %>
  <% html_opts["nav"] = :true %>
<% end %>
<% if @current_user && @last_visit %>
  <% unread = prod.new_comments_for(@last_visit).count %>
  <% newprod = (prod.created_at >= @last_visit) ? true : false %>
<% end %>
<div class="gem-link <%= "current" if current %>" id="gem-<%= prod.id %>" <%= "new" if newprod %> <%= "data-unread=#{unread}" unless current || (unread == 0) %>>
  <%= link_to(prod, html_opts) do %>
    <%= image_tag prod.pictures.first.picture.thumb.url, class: 'thumb', alt: "#{prod.title}", onload: "ImgLoad();" if prod.pictures.any? %>
    <script type="text/javascript">
      document.getElementById("logo_progress").max++;
    </script>
  <% end %>
</div>
