
<%= stylesheet_link_tag "easymde.min.css", media: "all" %>
<%= javascript_include_tag "easymde.min.js" %>


<section class="gem" id="prod-<%= @prod.id %>">
  <%= form_for @prod, remote: true, html: { multipart: true, class: "gem" } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= render partial: 'prods/prod_pictures_form', locals: {form: f, prod: @prod} %>
    <div class="gem-page" id="gem-page">
      <%= content_tag :div, class: "title", style: "background-image: url(#{@prod.pictures.first.picture.url})" do %>
         <span class="field" id="title">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </span>
      <% end %>
      <%= content_tag :div, class: "subtitle" do %>
        <span class="field" id="subtitle">
          <%= f.label :subtitle %>
          <%= f.text_field :subtitle, class: "form-control" %>
        </span>
      <% end %>
      <%= content_tag :div, class: "description" do %>
        <span class="editor" id="description">
          <%= f.text_area :description %>
        </span>
      <% end %>
      <%= f.submit "Save", class: "button" %>
      <%= link_to "Cancel", url_for(@prod), class: "button cancel", id: "cancel-prod-edit" %>
    </div>
  <% end %>
  <script type="text/javascript">
    new EasyMDE({element: document.getElementById("prod_description")});
  </script>
</section>
