$("a[href*=\"<%= request.fullpath %>\"]")
.replaceWith(
  $("<%= link_to "Load more...", comments_on_prod_url(@prod, page: @page+1), remote: true unless (@page+1) > @max_page %>\
    <%= j render @comments %>"));
