var title = document.title;
var prod = $("section.gem");
var prodform = $("<%= escape_javascript(render 'prods/prod_form') %>");
// Do
prod.replaceWith(prodform);
document.title = "<%= full_title(@prod.title) %>";
// Undo
prodform.on("click","a#cancel-prod-edit",function(e){
  prodform.replaceWith(prod);
  document.title = title;
  e.preventDefault();
});
