<% provide(:title, @prod.title) %>

<% if @prod.pictures.any? %>
  <% if @pic.nil? %>
    <% @pic = @prod.pictures.first %>
  <% end %>
  <% facepic = @pic.picture.url %>
<% else %>
  <% facepic = "assets/prod-picture-placeholder.jpg" %>
<% end %>
<section class="gem" id="prod-<%= @prod.id %>">
  <%= render partial: 'prods/prod_list', locals: { current_prod: @prod } unless @prods.nil? %>
  <%= render 'prods/prod_pictures' %>
  <div class="gem-page" id="gem-page">
    <%= render "prods/prod_tray" %>
    <ul class="menu" id="gem-owner">
      <li class="menuitem">
        Published by <%= render partial: "users/user_link", locals: { user: @prod.owner } %>
      </li>
      <% if (!@current_user.nil?) && (@current_user != @prod.owner) %>
        <li class="menuitem">
          <%= render partial: "users/text_user_button", locals: { user: @prod.owner } %>
        </li>
      <% end %>
    </ul>
    <div class="title" style="background-image: url(<%= "#{facepic}" %>)">
      <%= @prod.title %>
      <% if logged_in? %>
        <% if @current_user == @prod.owner %>
          <%= link_to @prod, method: :delete, data: { confirm: "You sure?" } do %>
            <div class="button raised delete">
              Delete
            </div>
          <% end %>
          <%= link_to edit_prod_url(@prod), remote: true do %>
            <div class="button raised edit">
              Edit
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="prod-detail">
      <div class="subtitle">
        <%= @prod.subtitle %>
      </div>
      <div class="description">
        <%= markdown(@prod.description).html_safe %>
      </div>
      <%= render partial: 'prods/prod_tags', locals: {prod: @prod} %>
      <%= render 'prods/prod_bookmarks' %>
      <%= render 'prods/prod_comments' %>
    </div>
  </div>
</section>
<input type=checkbox class="invisible" id="messenger-panel-toggle" />
<section class="messenger-panel">
  <input type="checkbox" class="invisible" name="message-groups-toggle" id="message-groups-toggle">
  <% if !@message_groups.nil? %>
    <%= render "message_groups/messenger" %>
  <% else %>
    <div class="messenger" id="messenger"></div>
  <% end %>
</section>
