<div class="login-form" id="signin">
  <% if @current_user && @current_user != @user && @current_user.admin? %>
    <%= render partial: 'users/user_caption', locals: { user: @user } %>
    <% if @user.activated? %>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <span class="field"><%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', minlength: 8, autocomplete: "new-password" %></span>

        <span class="field"><%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control', minlength: 8, autocomplete: "new-password" %></span>

        <span class="field"><label for="activated">
          Activate:&nbsp;<%= f.check_box :activated, {}, "true", "false" %>
        </label></span>

        <span class="field"><label for="admin">
          Admin:&nbsp;<%= f.check_box :admin,{}, "true", "false" %>
        </label></span>

        <%= f.submit "Save changes", class: "save" %>
      <% end %>
    <% else %>
      <form class="login-form">
        <div class="field">
          <%= label_tag :email %>
          <%= email_field_tag :email, @user.email, class: 'form-control', readonly: "readonly" %>
        </div>
        <div class="field">
          <%= label_tag :activation_token %>
          <%= link_to edit_account_activation_url(id: @user.activation_token, email: @user.email), edit_account_activation_url(id: @user.activation_token, email: @user.email), id: :activation_token, class: 'form-control', readonly: "readonly" %>
        </div>
      </form>
    <% end %>
  <% else %>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :provider, value: 'email' %>

      <span class="field"><%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', minlength: 6, autocomplete: "name" %></span>

      <span class="field"><%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', onchange: 'updateAvatar(this)', autocomplete: "email" %></span>

      <span class="field"><%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', minlength: 8, autocomplete: "new-password" %></span>

      <span class="field"><%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control', minlength: 8, autocomplete: "new-password" %></span>

      <span class="field">
        <div class="label">
          <%= f.label :avatar, "&#x25cf;&nbsp;&#x25cf;&nbsp;&#x25cf;&nbsp;".html_safe, class: "add button" %>
        </div>
        <div class="form-control" id="avatar-preview">
          <%= get_avatar_for @user unless @user.nil? %>
          <div onClick='ClearAvatar(event);' class="button raised" id="clear">Clear</div>
          <%= f.file_field :avatar, multiple: false, class: 'invisible', onchange: "AvatarSelect(event)" %>
        </div>
        <script type="text/javascript">
          var root,file,img;
          function ImageLoad(evt){
            if (!img) return;
            if (img.src != "") URL.revokeObjectURL(img.src);
          }
          function AvatarSelect(evt){
            file=evt.target;
            root=file.parentNode;
            img=root.querySelector("#avatar");
            img.onload=ImageLoad;
            if (file.value != ""){
              var fileobj=file.files[0];
              if (img) img.src = URL.createObjectURL(fileobj);
            }
            else{
              URL.revokeObjectURL(img.src);
              img.src="";
            }
          }
          function ClearAvatar(evt){
            if (!file || !img) return;
            file.value="";
            img.src="";
          }
        </script>
      </span>
      <%= f.submit "Save changes", class: "save" %>
    <% end %>
    <% if @user.persisted? %>
      <%= form_for @user, id: "user_delete", method: :delete do |f| %>
        <%= f.submit "Delete user", class: "button delete" %>
      <% end %>
    <% end %>
  <% end %>
  
</div>
