<% opts = {class: "button text-user", data: {hint: "Send private message"}} %>
<% if @current_user.nil? %>
  <% url = login_url %>
<% else %>
  <% url = text_user_path(user) %>
<% end %>
<% if (@current_user != user) %>
  <% tag = "a" %>
  <% opts[:href] = url %>
<% else %>
  <% tag = "div" %>
  <% opts[:disabled] = true %>
<% end %>
<%= content_tag tag, opts do %>
  <%= render file: "app/assets/images/button-message.svg" %>
<% end %>
