<%= render partial: 'users/user_caption', locals: { user: user } %>
<% if current_user.admin? || current_user?(user) %>
  <%= link_to edit_user_url(user) do %>
    <div class="button raised edit">
      Edit profile
    </div>
  <% end %>
<% end %>
