<%= label_tag option_name, class: "user-select" do %>
  <%= check_box_tag option_name, user.id, option_checked ,class: "hidden"%>
  <%= render partial: 'users/user_line', locals: {user: user} %>
<% end %>
