<section class="user_info">
  <h1>
    <%= render partial: 'users/user_link', locals: {user: user} %>
    <%= render partial: 'users/text_user_button', locals: {user: user} %>
  </h1>
  <p>
    <span id="counters">
      <%= pluralize(user.prods.count, "Gem pages") %><br />
      <%= pluralize(user.bookmarks.count, "bookmarks") %><br />
      Comments:<br />
      <ul>
        <li><%= pluralize(user.interests.count, "comments on products") %></li>
        <li><%= pluralize(user.replies.count, "replies on comments") %></li>
      </ul>
    </span>
  </p>
</section>
