<div class="user-actions" id="user-actions">
  <ul class="selector actions-filter">
    <li class="label">
      <div class="icon">
        <%= render file: "app/assets/images/filter.svg" %>
      </div>
    </li>
    <li class="menuitem" <%= "selected" if @activity_filter.nil? %>>
      <%= link_to "All", user_path(@user), remote: true, nav: true %>
    </li>
    <li class="divider"></li>
    <li class="menuitem" <%= "selected" if @activity_filter == "Comments" %>>
      <%= link_to "Comments", user_path(@user, actions: "comments"), remote: true, nav: true %>
    </li>
    <li class="divider"></li>
    <li class="menuitem" <%= "selected" if @activity_filter == "Bookmarks" %>>
      <%= link_to "Bookmarks", user_path(@user, actions: "bookmarks"), remote: true, nav: true %>
    </li>
  </ul>
  <h3><%= @activity_filter || "All activity" %></h3>
  <% if @page && @page > 0 %>
    <div class="button raised page-nav">
      <%= link_to "Previous page ...", user_path(@user, page: @page-1, actions: @activity_filter.nil? ? nil : @activity_filter.downcase), remote: true, nav: true %>
    </div>
  <% end %>
  <% @user_actions.each do |user_action| %>
    <%= render partial: "users/user_action", locals: {user_action: user_action}  %>
  <% end %>
  <% if @user_actions.count == User.actions_per_page %>
    <div class="button raised page-nav">
      <%= link_to "Next page ...", user_path(@user, page: (@page || 0)+1, actions: @activity_filter.nil? ? nil : @activity_filter.downcase), remote: true, nav: true %>
    </div>
  <% end %>
</div>