<% html_ref="/#{user_action["action_type"]}/#{user_action["action_id"]}" %>

<% if user_action["updated_at"].to_datetime > 1.day.ago %>
  <% timestamp = "on #{user_action["updated_at"].to_datetime.to_formatted_s(:long_ordinal)}" %>
<% else %>
  <% timestamp = "#{time_ago_in_words(user_action["updated_at"].to_datetime)} ago" %>
<% end %>

<p class="user-action" timestamp="<%= timestamp %>">
  <% case user_action["action_type"] %>
    <% when "comments" %>
      <% case user_action["target"] %>
      <% when "Comment" %>
        <%= link_to "Replied", html_ref %> to
        <%= link_to "Comment", controller: user_action["target"].pluralize.downcase, id: user_action["on"], action: :show %>
      <% when "Prod" %>
        <%= link_to "Commented", html_ref %> on
        <%= link_to "Gem", controller: user_action["target"].pluralize.downcase, id: user_action["on"], action: :show %>
      <% when "MessageGroup" %>
        <%= link_to "Texted", html_ref %> to
        <%= link_to "Message group", message_group_url(user_action["on"]) %>
      <% end %>
    <% when "bookmarks" %>
      Bookmarked
      <%= link_to("Gem", { controller: user_action["target"].pluralize.downcase, id: user_action["on"], action: :show }) %>
  <% end %>
  <%= timestamp %>.
</p>
