<% last_interaction = @current_user.last_interacted_with(user) %>
<div class="item-row user-row" id="user-<%= user.id %>" <%= "unactive" if !user.activated? %>>
  <div class="item-heading">
    <%= render partial: "users/user_profile", locals: { user: user } %>
  </div>
  <%= render partial: "shared/gems_collage", locals: {prods: user.prods.created_after(last_interaction).limit(4)} %>
  <!-- activity -->
  <div class="item-subject">
    <% actions = user.feed(where_opts: ["updated_at > ?", last_interaction], limit: 3, asc: false) %>
    <% if actions.any? %>
      <% actions.each do |user_action| %>
        <%= render partial: "users/user_action", locals: {user_action: user_action} %>
      <% end %>
    <% else %>
      <center>No new actions.</center>
    <% end %>
  </div>
</div>
