<% provide(:title, @user.name) %>
<div class="user-page" id="user-<%= @user.id %>">
  <aside class="user-page-profile">
    <%= render partial: "users/user_profile", locals: { user: @user } %>
  </aside>
  <div class="user-prods">
    <% @user.prods.each do |prod| %>
      <%= render partial: "prods/prod_line", locals: { prod: prod, remote: false, current: false } %>
    <% end %>
  </div>

  <%= render "user_activity_feed" %>
</div>

