<%= form_for message_group, html:{class:"message-group"}, remote: true do |mgf| %>
  <%= render 'shared/error_messages', object: mgf.object %>
  <span class="field">
    <%= mgf.label :name, "Group name:" %>
    <%= mgf.text_field :name, placeholder: "Group name", class: "form-control" %>
  </span>
  <div class="field">
    <label>To:</label>
    <div class="form-control recipients" id="recipients">
      <% selected = message_group.participants.map { |p| p.user_id } %>
      <% contacts.each do |user| %>
        <% uid = "user#{user.id}" %>
        <%= mgf.check_box :participants,
          {
            multiple: true,
            id: "#{uid}",
            class: "hidden",
            checked: selected.include?(user.id)
          },
          user.id,
          nil %>
        <%= mgf.label :participants, for: "#{uid}", class:"recipient" do %>
          <%= render partial:'users/user_line', locals:{user: user} %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= mgf.submit "Save" %>
  <div class="button delete" id="cancel" onclick="document.getElementById('edit-panel').innerHTML = '';">Cancel</div>
<% end %>
<hr />
<%= form_for message_group, method: :delete do |mgdf| %>
  <div class="field">
    <p>
      When a message group is deleted all the corresponding messages are deleted
      as well and cannot be restored any more.
    </p>
  </div>
  <%= mgdf.submit "Delete message group", class: "button delete" %>
<% end %>

<script type="text/javascript">
  var debouncer_timer;
  var recipients_field = document.getElementById("recipients");
  recipients_field.classList.add("filtered");
  var searchline = document.createElement("input");
  searchline.type = "text";
  searchline.autofocus = true;
  searchline.className="form-control searchline";
  recipients_field.appendChild(searchline);

  recipients_field.filtered = [];
  recipients_field.checked = [];
  recipients_field.unchecked = [];

  recipients_field.hover = function(element){
    if (this.hovered) this.hovered.classList.remove("hovered");
    if (element) element.classList.add("hovered");
    else var r = this.hovered;
    this.hovered = element;
    return this.hovered || r;
  }.bind(recipients_field);

  recipients_field.hoverNext = function(step){
    var id, next, l;
    if (this.filtered.length){
      l = this.filtered.length;
      if (this.hovered){
        id = this.filtered.indexOf(this.hovered);
        if (id == -1) {
          next = 0;
        }
        else {
          id = id+step;
          if (id < 0)
            var next = l - (id%l);
          else
            var next = (id%l);
        }
      }
      this.hover(this.filtered[next]);
    }
  }.bind(recipients_field);

  recipients_field.filter = function(q){
    this.filtered = this.sortFields().unchecked.filter(function(rec_el){
      if ((q != "") && rec_el.innerText.search(new RegExp(q,"i")) != -1){
        rec_el.classList.add("matched");
        return true;
      }
      else {
        rec_el.classList.remove("matched");
        return false;
      }
    });
    if (this.filtered.length) this.hover(this.filtered[0]);
  }.bind(recipients_field);

  recipients_field.sortFields = function(){
    var checked = this.checked = [];
    var unchecked = this.unchecked = [];
    Array.prototype.slice.call(this.querySelectorAll(".recipient"))
    .forEach(function(rec_el){
      if (rec_el.control.checked) {
        checked.push(rec_el);
      }
      else {
        unchecked.push(rec_el);
      }
    });
    return this;
  }.bind(recipients_field);

  searchline.addEventListener("keydown",function(e){
    switch(e.keyCode){
      case 13:
        e.preventDefault();
        if (recipients_field.hovered) recipients_field.hover(undefined).click();
        recipients_field.filter(searchline.value = "");
        searchline.focus();
        break;
      case 8:
        if (searchline.value == "") {
          recipients_field.checked.pop().click();
          recipients_field.sortFields();
        }
        break;
      case 40:
        e.preventDefault();
        recipients_field.hoverNext(1);
        break;
      case 38:
        e.preventDefault();
        recipients_field.hoverNext(-1);
        break;
      default:
    }
  });

  searchline.addEventListener("input",Debounced(function(e){
    var q = e.target.value;
    recipients_field.filter(q);
  },300));
</script>
