<%= form_for @message_group.messages.new(author: @current_user),
  url: talk_to_message_group_path(@message_group),
  remote:true,
  html:{novalidate: "novalidate", class: "message", id: "new_message"} do |mmf| %>
  <%= render 'shared/error_messages', object: mmf.object %>
  <div class="editor previews content raised" id="previews">
    <div class="user">
      <%= render partial: 'users/user_line', locals: {user: @current_user} %>
    </div>
    <%= mmf.file_field :pics, id: "new_message_pics", accept: 'image/jpeg,image/gif,image/png', multiple: true, class: "invisible", onchange: "checkFiles(this)", required: "required" %>
    <label for="new_message_pics" class="button raised add" alt="Add pictures">
      <%= render file: 'app/assets/images/button-add2.svg' %>
    </label>
    <%= mmf.text_area :content %>
    <%= mmf.submit "Send", class: "button save raised" %>
  </div>
<% end %>
<script type="text/javascript">
  function checkFiles(input) {
    const MAX_SIZE = 5;
    var previews = input.parentNode;
    Array.prototype.slice.call(previews.querySelectorAll(".preview"))
    .forEach(function(preview){
      previews.removeChild(preview);
    });
    var files = Array.prototype.slice.call(input.files);
    files
    .filter(function(f){ // filter valid
      if (f.size/1024/1024 > MAX_SIZE) {
        previews.dataset.error = "Some files exceed size limit "+MAX_SIZE.toString()+"MB and therefore were ommited";
        return false;
      }
      else {
        delete previews.dataset.error;
        return true;
      }
    })
    .map(function(f){ // create preview elements
      var preview = document.createElement("div");
      preview.className = "preview";
      preview.id = f.name;
      preview.dataset.info = f.name+" ["+Math.round(f.size/1024)+"KB]";
      preview.innerHTML = `
        <img class="raised" src="${URL.createObjectURL(f)}" />
      `;
      return preview;
    })
    .reduce(function(c,p){ // insert previews at the beginning of previews container
      if (!c[p.id]) {
        c.insertBefore(p,c.children[1]);
        c[p.id] = p;
      }
      return c;
    },previews);
  };
</script>
