<div class="messenger" id="messenger">
  <section class="message-groups raised">
    <label class="button raised" for="message-groups-toggle"></label>
    <% @message_groups.each do |mg| %>
      <%= render partial: 'message_groups/message_group', locals: {message_group: mg} %>
    <% end %>
    <%= link_to new_message_group_path,
      class: "button add raised",
      remote: true do %>
      <%= render file: "app/assets/images/button-add2.svg" %>
    <% end %>
  </section>
  <section class="messages" id="messages">
    <% if @message_group && !@message_group.new_record? %>
      <%= render 'message_groups/messages_block' %>
    <% else %>
      <p class="placeholder">Select message group on the left</p>
    <% end %>
  </section>
  <section class="edit-panel raised" id="edit-panel"><%= render partial: 'message_groups/message_group_form',
    locals: {
      message_group: @message_group,
      contacts: @contacts
    } unless @message_group.nil? || @contacts.nil? %></section>
</div>
