<% if @page.nil? %>
  <% num = MessageGroup.msgs_per_page %>
  <% page = 1 %>
<% else %>
  <% page = @page+1 %>
  <% num = MessageGroup.msgs_per_page*page %>
<% end %>
<div class="messages-stream" id="messages-block">
  <% @message_group.messages.reload.first(num).each do |m| %>
    <%= render partial: 'comments/comment', locals: { comment: m } %>
  <% end %>
  <%= link_to "Load more messages...", messages_to_message_group_url(@message_group, page: page), remote: true unless @message_group.messages.count <= num %>
</div>
<%= render partial: 'message_groups/message_form' %>
<script type="text/javascript">
  $('a[id^="new_comment_on"], a[id^="edit_comment"]').on('ajax:success',
  function RollbackCommentUrl(){
    history.replaceState({},"<%= @message_group.name %>","<%= "#{url_for(@message_group)}" %>");
  });
</script>
<a id="bottom"></a>
