<% message_group = @message_group if message_group.nil? %>
<% selected = message_group == @message_group %>
<% recipients = message_group.conversants.select { |u| u != @current_user }.map { |u| u.name }.join(", ") %>
<% unread = message_group.messages.created_after(message_group.participants.find_by(user: @current_user).updated_at).count %>
<div class="message-group" id="mg<%= message_group.id %>" <%= "selected" if selected %> data-info="<%= recipients %>">
  <%= link_to message_group, class: "label", remote: true do %>
    <div class="mg-name" <%= "unread=#{unread}" unless (unread.nil? || unread == 0) %> >
      <% if message_group.name.empty? %>
        <%= recipients.truncate(27) %>
      <% else %>
        <%= message_group.name %>
      <% end %>
    </div>
  <% end %>
  <span class="actions">
    <% if @current_user == message_group.moderator %>
      <%= link_to edit_message_group_path(message_group), class: "button", remote: true do %>
        <%= render file: "app/assets/images/button-edit.svg" %>
      <% end %>
    <% else %>
      <%= link_to leave_the_message_group_path(message_group), class: "button", remote: true do %>
        <%= render file: "app/assets/images/button-remove2.svg" %>
      <% end %>
    <% end %>
  </span>
</div>
