<div class="users-selector" id="mg<%= @message_group.id || "new" %>">
  <%= form_for @message_group, remote: true, html: {id: "selected-users"} do |mgf| %>
    <%= render 'shared/error_messages', object: mgf.object %>
    <%= mgf.text_field :name, placeholder: "Group name" %>
    <% @message_group.conversants.each do |user| %>
      <%= render partial: 'users/user_select', locals: {option_name: 'message_group[users][]', user: user} %>
    <% end %>
  <% end %>
  <%= form_tag find_users_path("message_group"), id: "users_search_form", remote: true do %>
    <%= text_field_tag 'message_group[q]', nil, class: "search-field", id: "users_search_field" %>
  <% end %>
  <div class="userlist" id="userlist"></div>
  <script>

    var timeout;
    var selector = document.querySelector("#mg<%= @message_group.id || "new" %> #selected-users");
    var ulist = document.querySelector("#mg<%= @message_group.id || "new" %> #userlist");
    var form = document.querySelector("#mg<%= @message_group.id || "new" %> #users_search_form");
    var field = document.querySelector("#mg<%= @message_group.id || "new" %> #users_search_field");

    field.addEventListener("input",DebouncedRequests);
    field.addEventListener("keydown",fieldKeys);
    ulist.addEventListener("click",selectUser);

    ulist.select = function(item){
      if (this.children.length){
        if (this.selected){
          this.selected.removeAttribute("selected");
        }
        this.selected = item;
        this.selected.setAttribute("selected","true");
        return item;
      }
    }.bind(ulist);

    function DebouncedRequests(){
      if (timeout){
        clearTimeout(timeout);
        timeout = undefined;
      }
      timeout = setTimeout(function(){
        clearTimeout(timeout);
        timeout = undefined;
        if (field.value.length>2){
          $(form).trigger('submit.rails');
        }
      },1000);
    }

    function fieldKeys(e){
      switch(e.keyCode){
        case 13:
          e.preventDefault();
          if (ulist.selected) ulist.selected.click();
          field.value = "";
          field.focus();
          break;
        case 8:
          if ((field.value == "") && form.previousSibling) {
            var u = selector.getElementsByClassName("user-select");
            if (u.length){
              selector.removeChild(u[u.length-1]);
            }
          }
          break;
        case 40:
          e.preventDefault();
          if (ulist.children.length){
            if (ulist.selected) {
              if (ulist.selected.nextSibling) {
                return ulist.select(ulist.selected.nextSibling);
              }
            }
            ulist.select(ulist.children[0]);
          }
          break;
        case 38:
          e.preventDefault();
          if (ulist.children.length){
            if (ulist.selected) {
              if (ulist.selected.previousSibling) {
                return ulist.select(ulist.selected.previousSibling);
              }
            }
            ulist.select(ulist.children[ulist.children.length-1]);
          }
          break;
        default:
      }
    }

    function selectUser(e){
      e.preventDefault();
      if (ulist.children.length){
        ulist.select(Array.prototype.slice.call(e.path)
          .filter(function(el){return el.className == "user-select"})[0]);
        var uline = ulist.selected.cloneNode(true);
        selector.appendChild(uline);
        ulist.innerHTML = "";
      }
    }
  </script>
</div>
