$("#messenger").replaceWith("<%= j render 'messenger' %>");
var link = $("#messenger-initializer-link");
var messenger_button = link.html();
link.replaceWith($(messenger_button));
var t = document.getElementById("messenger-panel-toggle");
var t2 = document.getElementById("message-groups-toggle");
if (t) t.checked = true;
<%= @message_group ? j("t2.checked = true;") : j("t2.checked = false;") %>
