$("a[href*=\"<%= j request.fullpath %>\"]")
.replaceWith(
  $("<% @messages.reverse().each do |m| %>\
      <%= j render partial: 'comments/comment', locals: { comment: m } %>\
    <% end %>\
    <%= j link_to "Load more...", messages_to_message_group_url(@message_group, page: @page+1), remote: true unless (@page+1) > @max_page %>"));
