<div class="pictures-collage gems-tiles" style="flex-direction: <%= rand(2)==0?"column":"row" %>">
  <% if prods.any? %>
    <% prods.each do |prod| %>
      <% if prod.pictures.empty? %>
        <% pic = Picture.placeholder_url %>
      <% else %>
        <% pic = prod.pictures.first.picture.url %>
      <% end %>
      <div class="pic-tile" style="background-image: url(<%= pic %>)">
        <%= link_to prod.title, prod_path(prod) %>
      </div>
    <% end %>
  <% else %>
    <div class="pic-tile">No recent Gems</div>
  <% end %>
</div>
