<div class="pictures-collage" style="flex-direction: <%= rand(2)==0?"column":"row" %>">
  <% if pictures.any? %>
    <% pictures.map { |p| p.picture.url }.each do |pic| %>
      <div class="pic-tile" style="background-image: url(<%= pic %>)"></div>
    <% end %>
  <% else %>
    <div class="pic-tile" style="background-image: url(<%= Picture.placeholder_url %>)">No picture</div>
  <% end %>
</div>
