<% unless @users.nil? || @users.empty? %>
  <p>Users: <%= @users.size %></p>
  <%= render @users %>
<% end %>
<% unless @tags.nil? || @tags.empty? %>
  <p>Tags: <%= @tags.size %></p>
  <%= render partial: "tags/tag_list", locals: {tags: @tags, taggable: nil} %>
<% end %>
<% unless @prods.nil? || @prods.empty? %>
  <p>Prods: <%= @prods.size %></p>
  <%= render @prods %>
<% end %>