<%= form_tag endpoint, remote: :true, name: "search_form" do %>
  <div class="field">
    <%= text_field_tag :filter, query, class: "form-control", oninput: "DebouncedSearch(event)" %>
  </div>
  <script type="text/javascript">
    var DebouncedSearch = Debounced(function(event){
      var query = event.target.value;
      var form = $(event.target).parents("form");
      if ((query.length > 2) || (query.length == 0)){
        form.trigger("submit.rails");
      }
    },300);
  </script>
<% end %>
