<%= content_tag :div, class: "tag", "data": { "count": tag.similar.size } do %>
  <%= link_to tag.name, one_of_tags_path(tag.name) %>
  <% if tag.taggable && tag.id && tag.taggable.owner == @current_user %>
    <%= link_to un_tag_path(id: tag.id), method: :delete, class: "button raised delete" do %>
        <%= render file: 'app/assets/images/button-remove2.svg' %>
    <% end %>
  <% end %>
<% end %>
