<%= form_for taggable.tags.new,
  url: create_tags_url(taggable.id),
  remote: true,
  html: {
    class: "newtag",
    onsubmit: "blurInput(this)"
  } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :name, class: "form-control button add newtag", placeholder: "+", onblur: "clearInput(this.parentNode)" %>
  <script type="text/javascript">
    function blurInput(form){
      form.tag_name.blur();
    }
    function clearInput(form){
      setTimeout(form.reset.bind(form),1000);
    }
  </script>
<% end %>
