<% provide(:title, "\##{@tagname} | ") %>
<div class="items-index">
  <% if @page > 0 %>
    <%= link_to "Previous page ... ", one_of_tags_path(@tagname, page: @page-1) %>
  <% end %>
  <% if @items.empty? %>
    <center>No items to display here.</center>
  <% else %>
    <% @items.each do |prod| %>
      <%= render partial: "prods/prod", locals: {prod: prod} %>
    <% end %>
  <% end %>
  <% if @page < @max_page %>
    <%= link_to "Next page ... ", one_of_tags_path(@tagname, page: @page+1) %>
  <% end %>
</div>