<% icon_sizes = Rails.configuration.serviceworker.icon_sizes %>
{
  "name": "NineLifes",
  "short_name": "NineLifes",
  "start_url": "/",
  "display": "browser",
  "background_color": "#212121",
  "theme_color": "#212121",
  "description": "A hub for a creative people to share and discuss their work.",
  "icons": [
  <% icon_sizes.map { |s| "#{s}x#{s}" }.each.with_index do |dim, i| %>
    {
      "src": "<%= image_path "nl-icon-#{dim}.png" %>",
      "sizes": "<%= dim %>",
      "type": "image/png"
    }<%= i == (icon_sizes.length - 1) ? '' : ',' %>
  <% end %>
  ]
}
