var CACHE_VERSION = 'v1';
var CACHE_NAME = CACHE_VERSION + ':sw-cache-';

function AequalB (abuf1, abuf2){
  if (abuf1.byteLength != abuf2.byteLength) return false;
  var dv1 = new Int8Array(abuf1);
  var dv2 = new Int8Array(abuf2);
  for (var i = 0 ; i != abuf1.byteLength ; i++)
  {
    if (dv1[i] != dv2[i]) return false;
  }
  return true;
}

function Unsubscribe(subscription){
  if ("unsubscribe" in subscription) {
    return subscription.unsubscribe();
  }
  else if ("unregister" in self.registration.pushManager){
    return self.registration.pushManager.unregister();
  }
  else return Promise.reject(new TypeError("Uncompatible pushManager API. No recognized unsubscription mechanism."));
}

function Subscribe(key){
  if ("subscribe" in self.registration.pushManager) {
    return self.registration.pushManager.subscribe(
      {
        userVisibleOnly: true,
        applicationServerKey: new Uint8Array(key)
      }
    );
  }
  else if ("register" in self.registration.pushManager){
    return self.registration.pushManager.register()
  }
}

function ObjectToFormData(obj,form){
  var ns = arguments[2] || "";
  for (k in obj){
    if (typeof obj[k] === "object"){
      ObjectToFormData(obj[k],form,(ns=="")?k:ns+"["+k+"]");
    }
    else {
      if (Array.isArray(obj) && (k == "length")) continue;
      form.append((ns==""?k:ns+"["+k+"]"),obj[k]);
    }
  }
  return form;
}

function UpdateSubscription(url,subscription){
  var data = new FormData();
  return fetch(url, { method: "POST", body: ObjectToFormData({subscription:subscription.toJSON()},data) });
}

function onInstall(event) {
  console.log('[Serviceworker]', "Installing!", event);
  event.waitUntil(
    caches.open(CACHE_NAME).then(function prefill(cache) {
      return cache.addAll([

        // make sure serviceworker.js is not required by application.js
        // if you want to reference application.js from here

        '<%= asset_path "application.js" %>',

        '<%= asset_path "application.css" %>',
        // '/assets/',
        '/offline.html'
      ]);
    })
  );
}

function onActivate(event) {
  console.log('[Serviceworker]', "Activating!", event);
  event.waitUntil(
    caches.keys().then(function(cacheNames) {
      return Promise.all(
        cacheNames.filter(function(cacheName) {
          // Return true if you want to remove this cache,
          // but remember that caches are shared across
          // the whole origin
          return cacheName.indexOf(CACHE_VERSION) !== 0;
        }).map(function(cacheName) {
          return caches.delete(cacheName);
        })
      );
    })
  );
}

// Borrowed from https://github.com/TalAter/UpUp
// function onFetch(event) {
//   var options = {};
//   // bypass oauth requests
//   if (event.request.url.match(/\/auth\/(google|facebook)/)){
//     return;
//   }
//   // bypass all nonself fetch
//   if (!event.request.url.match((new RegExp("<%= ENV["NINELIFES_HOSTNAME"] || 'localhost' %>")))){
//     return;
//   }
//   event.respondWith(
//     // try to return untouched request from network first
//     fetch(event.request,options).catch(function() {
//       // if it fails, try to return request from the cache
//       return caches.match(event.request).then(function(response) {
//         if (response) {
//           return response;
//         }
//         // if not found in cache, return default offline content for navigate requests
//         if (event.request.mode === 'navigate' ||
//           (event.request.method === 'GET' && event.request.headers.get('accept').includes('text/html'))) {
//           console.log('[Serviceworker]', "Fetching offline content", event);
//           return caches.match('/offline.html');
//         }
//       })
//     })
//   );
// }

self.addEventListener('install', onInstall);
self.addEventListener('activate', onActivate);
// self.addEventListener('fetch', onFetch);

self.addEventListener("push", function(event) {
  var message;
  self.clients.claim();
  if (event.data){
    message = event.data.json();
  }
  else {
    message = {
      title: "New message on NineLifes chat.",
      body: "Your browser is outdated - you have to refresh the page manually.",
      tag: "/message_groups"
    }
  }
  let icon = "<%= image_path "nl-icon-96x96.png" %>";
  event.waitUntil(
    self.clients.matchAll({type: "window"}).then(function(clientList){
      var focused = Array.prototype.slice.call(clientList).filter(function(client) {
        return client.focused;
      });
      if (focused.length) {
        // client focused - reload client
        focused[0].postMessage({message:message});
      }
      else {
        self.registration.showNotification(message.title, { body: message.body, icon: icon , tag:message.tag})
        if (clientList.length > 0) {
          // clent opened but not focused - notification and reload
          clientList[0].postMessage({message});
        }
        else {
          // client closed - notification and open upon click
        }
      }
    })
  );
});

self.addEventListener("notificationclick",function(event){
  event.waitUntil(
    self.clients.matchAll({type: "window"}).then(function(clientList){
      if (clientList.length > 0) {
        return clientList[0].focus();
      }
      return self.clients.openWindow("/message_groups");
    })
  );
});

self.addEventListener("message",function(event){
  var user,key;
  if (event.data){
    user = event.data.user;
    key = event.data.vapid;

    if (key && user){
      self.registration.pushManager.getSubscription()
      .catch(function(error){
        // console.error(error);
        // console.log("Attempting to resubscribe.");
        return Subscribe(key)
        .then(function(subscription){
          return UpdateSubscription(user,subscription);
        });
      })
      .then(function(subscription){
        if (subscription == null){
          // console.log("No subscription! Creating one.");
          return Subscribe(key)
          .then(function(subscription){
            return UpdateSubscription(user,subscription);
          });
        }
        else if (!AequalB(subscription.options.applicationServerKey,key)){
          // console.log("Push Keys Rotation.");
          return Unsubscribe(subscription)
          .then(function(){
            return Subscribe(key)
            .then(function(subscription){
              return UpdateSubscription(user,subscription);
            });
          })
          .catch(console.error);
        }
      })
    }
  }
});
