@import 'mixins.scss';

.button#bookmark-button{
  overflow:hidden;
  text-align:center;
  &[marked="true"]{
    .face {
      fill: green;
    }
  }
}
.bookmarks{
	&:before {
		content: "Bookmarked by:";
	}
  a.bookmarker{
    @extend %appearing;
    position: relative;
    display: inline-block;
  }
  form {
    display: none;
    input.bookmark{

    }
  }
}

a.bookmarker{
  img.avatar{
    width: 20px;
    height: 20px;
  }
  &:hover:after{
    @include hint(attr(data-name));
  }
}
