@import 'mixins.scss';


.comments{
  .comment{
    margin: 1em 0.1em 0.1em;
  }
}
.comment{
  .replies{
   margin-left: 0.5em;
  }
}
.comments, .replies {
  &>a{
    display: block;
    text-align: center;
    font-size: 90%;
  }
}
.comment, .message{
  @extend %appearing;
  position: relative;
  padding: 0.3em 0.2em;
  min-height: 3em;
  .content {
    text-indent: 1em;
    padding: 0.7em 0.3em;
    text-align: left;
    pre {
      white-space: pre-line;
      font: inherit;
    }
    .picture {
      text-indent: 0;
      img {
        width: 100%;
      }
    }
    &.editor{
      position: relative;
      background-color: $bg3;
      border-radius: 3px;
      padding-bottom:0.3em;
      & *{
        text-indent: 0;
      }
      .user {
        color: $text3;
      }
      textarea {
        display: block;
        min-height: 3em;
        background-color: transparent;
        border: none;
        outline: none;
        font-family: sans-serif;
        resize: none;
        width: 100%;
      }
      .preview {
        display: inline-block;
        margin: 0.3em;
        position: relative;
        img {
          height: 6rem;
          border-radius: 3px;
        }
        &:hover:after {
          @include hint(attr(data-info));
          left: 0.5em;
        }
      }
      label[for="comment_pics"], label[for="new_message_pics"] {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        &:hover:after {
          @include hint("Add pictures");
          left:0;
        }
      }
      input#comment_pics:valid+label[for="comment_pics"],
      input#new_message_pics:valid+label[for="new_message_pics"] {
        background-color: $edit;
        &:hover:after {
          @include hint("Change pictures");
          left:0;
        }
      }
      &.previews {
        &[data-error] {
          background-color: $delete-h;
          &:hover:after {
            @include hint(attr(data-error));
            left: 0.5em;
          }
        }
      }
    }
  }
  .user{
    font-weight: bold;
  }
  .timestamp{
    opacity: 0.8;
    font-size: 0.7em;
    margin-right: 1em;
    display: inline-block;
  }
  .add, .edit, .delete {
    font-size: 7pt;
  }
  .actions {
    text-align: right;
  }
}
.comment[id^="comment_on"] .button.delete {
  position: absolute;
  right: 3.6em;
  top: 0.9em;
}
.comment[id^="comment_on"]+[id^="new_comment_on"]{
  visibility: hidden;
}
input.invisible[type="checkbox"]:not(:checked)+div.comment[id*="comment_on"]{
  opacity: 0;
  height: 0;
  min-height: 0;
}
