@import 'mixins.scss';

#error_explanation {
	border: solid 1px $edit;
}

form {
  .field {
    padding: 5px;
    margin: 1px;
    line-height: 2rem;
    &:hover {
      background-color: $hl3;
      color: $text1;
    }
		@include flexbox();
		@include flex-row();
		@include flex-wrap(nowrap);
    label, .label, .field_with_errors:first-child {
      @include flex(1 0 5rem);
      &::first-line{
      	font-size: 133%;
      }
      text-align: right;
      padding-right: 8px;
      font-size: 70%;
    }
    .form-control, .field_with_errors:last-child {
      @include flex(2 0 10rem);
      width: auto;
      padding-left: 8px;
      text-align: left;
      font-size: 1.1rem;
      background-color: transparent;
      color: inherit;
      border: none;
      border-left: solid 1px #ccc;
      &:focus{
        outline: none;
        &:invalid {
        	border-left-color: $failure;
        }
        &:valid {
        	border-left-color: $success;
        }
      }
      &[type="email"]{

      }
      &[type="password"]{

      }
      &[type="file"]{

      }
    }
  }
}

button, .button{
	@extend %appearing;
  display: inline-block;
	position: relative;
	min-width: 2.4em;
	height: 2.4em;
	line-height: 1.8em;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 3px;
	border: none;
	padding: 0.3em;
	cursor: pointer;
	* {
		cursor: pointer;
	}
	@include transitions(background-color 0.2s linear, opacity 0.2s linear);
	img, svg{
		display: inline-block;
		width: 1.8em;
		height: 1.8em;
	}
	@include label_colors($button-text,$button);
	&:hover{
		@include label_colors($button-hover-text,$button-hover);
	}
	&:hover *{
		background-color: transparent;
		color: $button-hover-text;
	}
	&:active{
		@include label_colors($button-click-text,$button-click);
		opacity: 0.8;
	}
	&:disabled, &[disabled]{
		&, &:hover, &:active{
			opacity: 0.8;
			@include label_colors($button-inactive-text,$button-inactive);
		}
	}
}

input[type=checkbox]:checked+.button, .button[checked="true"] {
  background-color: $button-hover !important;
  color: $button-hover-text !important;
}

.cancel, .delete, .error, .field_with_errors, a.delete {
	@include label_colors($delete-t !important,$delete !important);
	&:hover, &:active{
		@include label_colors($delete-h-t !important,$delete-h !important);
	}
}
.save, .add, a.add {
	@include label_colors($add-t !important,$add !important);
	&:hover, &:active {
		@include label_colors($add-h-t !important,$add-h !important);
	}
}
.edit, a.edit {
	background-color: $edit !important;
	&:hover, &:active {
		background-color: $edit-h !important;
	}
}

form .cancel {
	display: block;
}

.menu {
	@include inflex();
	@include flex-wrap(nowrap);
	-webkit-align-items: stretch;
	align-items: stretch;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position:relative;
	a {
		color: inherit !important;
	}
	input[type="checkbox"]{
		visibility: hidden;
		position: absolute;
	}
	li {
		display: inline-block;
		list-style-type: none;
	}
	&>.menuitem, &>.label{
		@include flex(0 0 auto);
		padding: 0px 0.7em;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		text-align: center;
		font-weight: bold;
		line-height: 150%;
		width: auto;
		height: auto;
		@include label_colors($menuitem-text,$menuitem);
		@include transitions(opacity 0.1s linear,
			color 0.2s ease-in,
			background-color 0.2s ease-in);
		&:empty {
			display:none;
		}
    .button {
      font-size: 0.8em;
      margin: 0 0.3em;
    }
	}
  &>.menuitem:not(.menu), &>.label{
		@include inflex();
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		&>*{
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
		}
    &:hover {
      @include label_colors($menuitem-hover-text, $menuitem-hover);
    }
    &:active {
      @include label_colors($menuitem-click-text, $menuitem-click);
    }
    &[inactive], &:disabled {
      @include label_colors($menuitem-inactive-text, $menuitem-inactive);
    }
	}
	.divider{
		@include flex(0 1);
		@include order(2);
		padding: 0.5px;
		background-color: $menuitem-text;
	}
	&>.menuitem{
		@include order(2);
	}
	&>.label{
		@include order(1);
	}
}
.selector {
  @extend .menu;
  height: 2.4em;
  border-radius: 3px;
  @include label_colors($selector-text, $selector);
  .menuitem:not(.menu) {
    @include label_colors($selector-text,$selector);
    &:hover {
      @include label_colors($selector-hover-text, $selector-hover);
    }
    &:active, &[selected] {
      @include label_colors($selector-click-text, $selector-click);
    }
    &:disabled, &[inactive] {
      @include label_colors($selector-inactive-text, $selector-inactive);
    }
  }
  .divider {
    background-color: $selector-text;
  }
}
.popupmenu{
	@extend .menu;
	&>.label{
		@include flex(0 0 auto);
		&:before{
			display:inline-block;
			vertical-align: middle;
			content: "";
			width: 0px;
			height: 0px;
			margin-left: 0.3em;
      border: solid 0.3em transparent;
      border-left-color: $popupitem-text;
			-webkit-transform-origin: 25% center;
			-moz-transform-origin: 25% center;
			-ms-transform-origin: 25% center;
			-o-transform-origin: 25% center;
			transform-origin: 25% center;
			@include transitions(transform 0.1s linear);
		}
	}
	&>.divider{
	  @include flex(0 1 auto);
	}
	&>.menuitem, &>.label{
		@include label_colors($popupitem-text,$popupitem);
	}
  &>.menuitem:not(.menu), &>.label {
  	&:hover{
  		@include label_colors($popupitem-hover-text, $popupitem-hover);
  	}
    &:active {
      @include label_colors($popupitem-click-text, $popupitem-click);
    }
  	&[inactive], &:disabled{
  		@include label_colors($popupitem-inactive-text, $popupitem-inactive);
  	}
  }
  &>.menuitem, &>.divider {
    @include transitions(max-width 0.15s ease-out,
      width 0.15s ease-out,
      max-hight 0.15s ease-out,
  		height 0.15s ease-out,
  		flex-basis 0.15s ease-out,
  		opacity 0.1s linear,
      color 0.15s ease-in,
  		background-color 0.15s linear,
  		transform 0.15s ease-out);
  }
}
input:not(:checked)+.popupmenu{
	&>.menuitem, &>.divider{
		@include transforms(translateX(-1em));
		padding: 0px;
		margin: 0px;
		opacity: 0;
		max-width: 0px;
	}
}
input:checked+.popupmenu{
	&>.label:before{
		@include transforms(rotateZ(90deg));
	}
	&>.menuitem, &>.divider{
		@include transforms(translateX(0px));
	}
	&>.menuitem{
	  max-width: 50em;
	}
	&:not(.menuitem)>* {
		overflow: hidden;
	}
}

.dropdown{
	@extend .popupmenu;
	@include flex-col();
	-webkit-justify-content: center;
	justify-content: center;
}
input:checked + .dropdown{
	&>.menuitem{
		max-height: 50em;
		@include transforms(translateY(0px));
	}
}
input:not(:checked) + .dropdown{
	&>.menuitem{
		@include transforms(translateY(-1em));
		max-height: 0px;
	}
}

.dropdown.horizontal {
	@include flex-row();
}

@media (max-width: 1000px){
  .panel .dropdown{
    @include flex-row();
  }
}

@media (min-width: 1001px){
  .panel .dropdown{
    @include flex-col();
  }
}

// custom scrollbars (WebKit only)

::-webkit-scrollbar-track {
  background-color: gray;
  border: solid 3px transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #bbb;
}
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner, ::-webkit-resizer {
  display: none;
}

//  END custom scrollbars
