@import "mixins.scss";
$animation-time: 0.15s;

@keyframes foldin1 {
  0% {
    @include transforms(rotateX(-180deg));
    opacity: 0;
  }
  100% {
    @include transforms(rotateX(-360deg));
    opacity: 1;
  }
}
@keyframes foldin2 {
  0% {
    @include transforms(rotateX(-270deg));
    opacity: 0;
  }
  100% {
    @include transforms(rotateX(-360deg));
    opacity: 1;
  }
}
@keyframes foldout {
  0% {
    @include transforms(rotateX(0deg));
    opacity: 1;
  }
  100% {
    @include transforms(rotateX(-180deg));
    opacity: 0;
  }
}

.fold {
  text-align:center;
  background-color:transparent;
  perspective: 1500px;
  height:100%;
  perspective-origin: center center;
  -webkit-perspective: 1500px;
  -webkit-perspective-origin: center center;
  -moz-perspective: 1500px;
  -moz-perspective-origin: center center;
  div.img {
    display:block;
    position:absolute;
    top:0px;
    width:100%;
    height:50%;
    z-index:1;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-animation-fill-mode: both;
    -webkit-transition:z-index $animation-time linear 0.1s, opacity $animation-time ease-in 0.1s;
    -webkit-background-size:auto 200%;
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -moz-animation-fill-mode: both;
    -moz-transition:z-index $animation-time linear 0.1s, opacity $animation-time ease-in 0.1s;
    -moz-background-size:auto 200%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: both;
    transition:z-index $animation-time linear 0.1s, opacity $animation-time ease-in 0.1s;
    background-size:auto 200%; 
    background-repeat:no-repeat;
    &.top{
      -webkit-transform-origin:center bottom;
      -moz-transform-origin:center bottom;
      transform-origin:center bottom;
      background-position:center top;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: foldout $animation-time ease-out 1 0.1s;
      -moz-animation: foldout $animation-time ease-out 1 0.1s;
      -o-animation: foldout $animation-time ease-out 1 0.1s;
      animation: foldout $animation-time ease-out 1 0.1s;
      z-index: 1;
    	opacity: 0;
    }
    &.bottom{
      -webkit-transform-origin:center top;
      -moz-transform-origin:center top;
      transform-origin:center top;
      background-position: center bottom;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: foldout $animation-time ease-out 1 0.1s;
      -moz-animation: foldout $animation-time ease-out 1 0.1s;
      -o-animation: foldout $animation-time ease-out 1 0.1s;
      animation: foldout $animation-time ease-out 1 0.1s;
      z-index: 1;
      opacity: 0;
      top: 50%;
    }
    &.face.top[loaded="true"]{
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: foldin1 $animation-time ease-out 1 0.1s;
      -moz-animation: foldin1 $animation-time ease-out 1 0.1s;
      -o-animation: foldin1 $animation-time ease-out 1 0.1s;
      animation: foldin1 $animation-time ease-out 1 0.1s;
      z-index: 8;
    	opacity: 1;
    }
    &.face.bottom[loaded="true"]{
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: foldin1 $animation-time ease-in 1 0.1s;
      -moz-animation: foldin1 $animation-time ease-in 1 0.1s;
      -o-animation: foldin1 $animation-time ease-in 1 0.1s;
      animation: foldin1 $animation-time ease-in 1 0.1s;
      z-index: 9;
      opacity: 1;
    }
  }
}

