@import 'mixins';
@import 'pictures';
@import 'tags';
@import 'bookmarks';
@import 'comments';

.item-row {
	.tags .button {
		display: none;
	}
}

.item-heading {
	.title {
		padding-top: 4em;
	}
	.subtitle {
		height: 3em;
	}
}

.item-subject {
	.description {
		line-height: 1.6em
	}
}

.gems {
	@include flexbox();
	@include flex-col();
	@include flex-wrap(nowrap);
	-webkit-align-items: flex-start;
	align-items: flex-start;
	z-index:1;
	overflow: visible;
	position: relative;
}

.gems-list {
	display: block;
	margin-right: -12px;
	padding-right: 4px;
	overflow: hidden;
	overflow-y: auto;
	.gem-link{
	  width: 100%;
		display: block;
		position:relative;
		&[data-unread]:after {
			@include hint(attr(data-unread));
			left: 70%;
			bottom: 0;
			@include label_colors($delete-t,$delete);
		}
	}
	.current:after {
		content:"";
		width: 0.2em;
		height:100%;
		display: block;
		position:absolute;
		right:0;
		top:0;
		background-color: $hl2;
	}
}

.gem {
	@include flexbox();
	position: relative;
	overflow: hidden;
	background-color: $bg2;
	background-image: $bg2texture;
	.pictures{
		@include flex(1 1 50%);
	}
	.gem-page{
		@include flex(1 0 50%);
	}
}

.menu#tray{
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	z-index: 1;
}

.gem-page{
	border: none;
	border-top: solid transparent;
	// margin: $header-height 0px 0px 0px;
	min-width: 320px;
	// background-color: transparent;
	// background-image: $bg2texture;
	color: $text1;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;

	.menu#gem-owner {
		position: absolute;
		top: 0px;
		right: 0px;
		font-size: 0.8em;
		.menuitem {
			color: inherit;
		}
		.user, .button {
			@include label_colors($bg1, transparent);
		}
	}
	.title{
    .button{
    	float:right;
    	font-size: 1rem;
    	opacity: 0;
    }
    &:hover{
    	.button{
    		opacity: 1;
    	}
    }
	}
	.prod-detail {
		padding: 0 2.4em;
	}
}
.title {
	text-align: center;
	font-family: chocogirl, cursive, serif;
	font-size: 200%;
	border-bottom: solid 1px;
	padding-top: 6em;
	background-attachment: fixed;
	background-position: center top;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
}
.subtitle{
	text-align: center;
	font-variant: small-caps;
}
.tags, .bookmarks, .comments {
	position: relative;
	font-size: 80%;
	padding: 0.6em;
}
.description{
	text-indent: 2.8em;
	text-align: justify;
	padding: 1.2em 0 1.2em;
	line-height: 1.4em;
	& * {
		text-indent: initial;
	}
}
