// Place all the styles related to the MessageGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.button#messenger-button{
  text-align: center;
  position: relative;
  &[counter]:after{
    @include hint(attr(counter));
    color: orangered;
    font-weight: bold;
    left: 0.1em;
    bottom: 0.1em;
    width: 0.9em;
  }
}
.recipients {
  @include flexbox();
  @include flex-row();
  @include flex-wrap(wrap);
  position: relative;
  .recipient {
    @include flex(0 0 auto);
    text-align: left;
    font-size: initial;
    &::first-line {
      font-size: initial;
    }
    &:hover, &.hovered {
      background-color: $hl4;
    }
  }
  input[type="checkbox"].hidden:checked+.recipient {
    @include order(1);
  }
  input.searchline {
    @include order(2);
    border-left: none;
  }
  input[type="checkbox"].hidden:not(:checked)+.recipient {
    @include order(3);
    border-color: transparent;
    text-align: left;
    @include flex(0 0 100%);
  }
}
.recipient {
  border: #ccc 1px solid;
  border-radius: 1em;
  position:relative;
  display: inline-block;
}
.recipients.filtered {
  input[type="checkbox"]:not(:checked)+.recipient:not(.matched){
    display: none;
  }
}
.message-group:not(form) {
  @include flexbox();
  @include flex-row();
  @include flex-wrap(nowrap);
  position: relative;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  & *{
    text-overflow: ellipsis;
  }
  .mg-name[unread] {
    position: relative;
    &:after {
      @include hint(attr(unread));
      top: -0.3em;
      left: -0.3em;
      right: unset;
      width: auto;
      bottom: unset;
      @include label_colors(inherit, firebrick);
    }
  }
  .label {
    @include flexbox();
    @include flex-col();
    @include flex-wrap(nowrap);
    @include flex(1 1 7em);
    text-align: center;
    .mg-name, .mg-participants {
      padding: 0.3em;
    }
  }
  .actions {
    @include flexbox();
    @include flex-row();
    @include flex-wrap(nowrap);
    @include flex(0 0 auto);
    &>*:not(:last-child){
      margin-right: 0.3em;
    }
  }
  &:hover {
    background-color: $hl4;
  }
  &:hover:after {
    @include hint(attr(data-info));
    left: 0;
    bottom: unset;
    top: 100%;
  }
  &:before {
    content: image-url("message-group-icon.svg");
    @include flex(0 0 24px);
    height: 24px;
    width: 24px;
    background-color: $bg1;
    border-radius: 50%;
  }
}
.message-group[selected] {
  background-color: $bg1;
  color: $text3;
}
.message-groups {
  padding: 0.5em 2em 0.5em 0.5em;
  position: relative;
  border-right: solid 1px #ccc;
  z-index: 1;
  width: 25em;
  @include flexbox();
  @include flex-col();
  @include flex-wrap(nowrap);
  @include transitions(left 0.2s ease-in);
}
.messenger-panel {
  min-width: 320px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $bg3;
	color: $text3;
  z-index: 0;
	border-top: solid $header-height $bg3;
	box-shadow: -2px 0px 4px black;
	@include transitions(right 0.1s ease-out);
}
.messenger-page {
  @extend body;
  background-image: none !important;
  min-height: 90% !important;
}
.messenger {
  width: 100%;
  height: 100%;
  position: relative;
  @include flexbox();
  @include flex-row();
  @include flex-wrap(nowrap);
  align-content: stretch;
  align-items: stretch;
  overflow: hidden;
  @include flex(1 1);
  .message-groups {
    @include flex(0 0 25em);
    label[for="message-groups-toggle"]{
      position: absolute;
      display: none;
      top: 50%;
      right: 0;
      border-radius: 50%;
      background-color: $button;
      @include transitions(background-color 0.2s linear);
      &:hover {
        background-color: $button-hover;
      }
      &:after {
        content: "";
        position: absolute;
        width: 1em;
        height: 1em;
        top: 50%;
        left: 50%;
        transform-origin: center;
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
        -o-transform-origin: center;
        @include transforms(translate(-20%,-50%) rotateZ(135deg));
        background: transparent;
        border: solid 1px transparent;
        border-right-color: $button-text;
        border-bottom-color: $button-text;
        @include transitions(transform 0.2s linear);
      }
    }
  }
  .messages {
    @include flex(1 1 65%);
    @include flexbox();
    @include flex-col();
    @include flex-wrap(nowrap);
    overflow: hidden;
    .placeholder {
      text-align: center;
      font-size: 32pt;
      opacity: 0.7;
      @include flex(1 1 100%);
    }
    .messages-stream{
      @extend .comments;
      @include flex(1 1 80%);
      @include flexbox();
      @include flex-col-reverse();
      @include flex-wrap(none);
      align-content: flex-start;
      overflow-y: auto;
      &>a{
        text-align: center;
      }
      &>.comment {
        @include flex(0 0 auto);
      }
      .comment>.cloud {
        @extend .raised;
        width: auto;
        padding: 0.5em;
        margin: 0 1em;
        background-color: $bg1;
        color: $text3;
        border-radius: 1em;
        overflow: hidden;
        .user {
          display: block;
          position: relative;
          text-align: left;
          float: left;
          margin: -1em 1em;
          margin-left: -1em;
          a {
            display: block;
            position: absolute;
            bottom: 0;
            left: 1em;
            font-size: 0.9em;
            color: white;
            text-shadow: 0px 0px 5px black;
          }
          img {
            height: 5em;
            width: 5em;
          }
        }
      }
      .comment[my]>.cloud {
        background-color: $add;
        .user {
          float: right;
          text-align: right;
          margin-left: 1em;
          margin-right: -1em;
          a {
            right: 1em;
          }
        }
      }
    }
    &>form.message {
      @include flex(1 0 auto);
    }
  }
  .edit-panel {
    display: block;
    position: absolute;
    overflow: auto;
    background-image: $bg2texture;
    height: 100%;
    width: 65%;
    right: 0;
    top: 0;
    opacity: 1;
    @include transitions(
      right 0.2s ease-in,
      opacity 0.15s linear
    )
  }
  .edit-panel:empty {
    opacity: 0;
    right: -100%;
  }
}
.messenger-panel {
  .messenger {
    .message-groups, .edit-panel {
      background-image: none;
      background-color: $bg3;
    }
    .message-groups {
      [for="message-groups-toggle"] {
        display: initial;
      }
      position: absolute;
      height: 100%;
      left: 0;
      padding-right: 2.5em;
      @include transitions(left 0.2s ease-out);
    }
    .edit-panel {
      width: 100%;
    }
    .messages, .edit-panel {
      padding-left:2.5em;
      @include filter(blur(0.1em) grayscale(80%));
      @include transitions(filter 0.2s linear,-webkit-filter 0.2s linear);
    }
  }
  input[type="checkbox"]:checked+.messenger{
    .message-groups {
      left: -22.5em;
      [for="message-groups-toggle"] {
        &:after {
          @include transforms(translate(-80%,-50%) rotateZ(-45deg));
        }
      }
    }
    .messages, .edit-panel {
      @include filter(none);
    }
  }
}

@media (max-width: 1000px){
 body>.messenger {
   .message-groups, .edit-panel {
     background-image: none;
     background-color: $bg3;
   }
   .message-groups {
     [for="message-groups-toggle"] {
       display: initial;
     }
     position: absolute;
     height: 100%;
     left: 0;
     padding-right: 2.5em;
     @include transitions(left 0.2s ease-out);
   }
   .edit-panel {
     width: 100%;
   }
   .messages, .edit-panel {
      padding-left:2em;
      @include filter(blur(0.1em) grayscale(80%));
      @include transitions(filter 0.2s linear,-webkit-filter 0.2s linear);
    }
  }
  input[type="checkbox"]:checked+.messenger{
    .message-groups {
      left: -22.5em;
      [for="message-groups-toggle"] {
        &:after {
          @include transforms(translate(-80%,-50%) rotateZ(-45deg));
        }
      }
    }
    .messages, .edit-panel {
      @include filter(none);
    }
  }
}
