
$header-height: 5rem;

$bg1: #df91dc;
$bg2: #212121;
$bg3: #f5f5f5;
$bg4: #c0c0c0;

$hl1: $bg1;
$hl2: #bd68b9;//#9c27b0;
$hl3: #424242;
$hl4: #616161;

$text1: #bdbdbd;
$text2: #9e9e9e;
$text3: #212121;

$bg2texture: repeating-linear-gradient(-60deg, $hl4, $hl4 0.5px, $bg2 0.5px, $bg2 9px);
$bg1texture: repeating-linear-gradient(-60deg, $bg2, $bg2 0.5px, $bg1 0.5px, $bg1 9px);
$bg3texture: repeating-linear-gradient(-60deg, $bg4, $bg4 0.5px, $bg3 0.5px, $bg3 9px);

$button: $bg1;
$button-text: $text3;
$button-hover: $hl2;
$button-hover-text: $text3;
$button-click: $hl1;
$button-click-text: $text3;
$button-inactive: $button;
$button-inactive-text: $button-text;

$menuitem: transparent;
$menuitem-text: $text3;
$menuitem-hover: transparent;
$menuitem-hover-text: $text3;
$menuitem-click: $hl1;
$menuitem-click-text: $text3;
$menuitem-inactive: $menuitem;
$menuitem-inactive-text: $menuitem-text;

$popupitem: $bg1;
$popupitem-text: $text3;
$popupitem-hover: $hl2;
$popupitem-hover-text: $text3;
$popupitem-click: $hl1;
$popupitem-click-text: $text3;
$popupitem-inactive: $bg4;
$popupitem-inactive-text: $popupitem-text;

$selector: $bg1;
$selector-text: $text3;
$selector-hover: $hl2;
$selector-hover-text: $text3;
$selector-click: $hl2;
$selector-click-text: $text3;
$selector-inactive: $selector;
$selector-inactive-text: $text2;

$add: #388e3c;
$add-t: $text3;
$add-h: #2e7d32;
$add-h-t: $add-t;
$edit: #ffc107;
$edit-t: $text3;
$edit-h: #ff8f00;
$edit-h-t: $edit-t;
/*//$delete: #c62828;*/
$delete: firebrick;
$delete-t: $text3;
/*//$delete-h: #b71c1c;*/
$delete-h: rgb(red($delete)*0.9,green($delete)*0.9,blue($delete)*0.9);
$delete-h-t: $delete-t;

$success: $add;
$failure: $delete;

@mixin filter($filters){
  -webkit-filter: $filters;
  filter: $filters;
}

@mixin label_colors($face,$back){
  background-color: $back;
  color: $face;
  svg {
    .face {
      fill: $face;
      stroke: $face;
    }
    .back {
      fill: $back;
      stroke: $back;
    }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin inflex(){
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin flex-row(){
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-row-reverse(){
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@mixin flex-col(){
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-col-reverse(){
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin flex-wrap($wrp){
	-webkit-flex-wrap: $wrp;
	-ms-flex-wrap: $wrp;
	flex-wrap: $wrp;
}

@mixin transitions($val...){
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}

@mixin transforms($val...){
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin transform-origin ($origin...) {
    -moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin animations($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin raised(){
  box-shadow: 0px 1px 5px rgb(10,10,10);
}

@mixin hint($content){
  display: block;
	position: absolute;
	content: $content;
	left: 100%;
	bottom: 100%;
	padding: 0.4em;
	border-radius: 1em;
	background-color: #aaa;
	color: dimgray;
	font-size: 80%;
	line-height: 1.2em;
  z-index: 5;
  @include raised();
}

%appearing{
  @include transitions(opacity 0.2s linear,
    width 0.2s ease-in,
    height 0.2s ease-in);
	animation-fill-mode: backwards;
	-webkit-animation-fill-mode: backwards;
	@include animations(appear linear 0.2s 1);
	&[loaded=false]{
	  animation-play-state: paused;
	  -webkit-animation-play-state: paused;
	  -moz-animation-play-state: paused;
	  -o-animation-play-state: paused;
	}
}
