@import 'mixins';

.icon#nls {
  .mustash {
    stroke: $bg1;
    stroke-width: 0.2;
    fill: none;
    @include transitions(transform linear 0.15s, stroke linear 0.15s);
  }
  .head,
  .mustash {
    stroke-miterlimit: 4;
  }
  .head {
    fill: $bg2;
    @include transitions(opacity linear 0.15s);
  }
  #layer1:hover .head {
    opacity: 0;
  }
  .bottom,
  .upper {
    transform-origin: 70% 55%;
    -moz-transform-origin: 70% 55%;
  }
  .upper {
    @include transforms(scaleX(1) rotateZ(10deg));
  }
  .bottom {
    @include transforms(scaleX(1) rotateZ(-10deg));
  }
  #layer1:hover .mustash {
    stroke: $bg2;
  }
  #layer1:hover .upper {
    @include transforms(translate(1px, -6px) rotateZ(0));
  }
  #layer1:hover .bottom {
    @include transforms(translate(1px, 2px) rotateZ(0));
  }
  #layer1:hover .middle {
    @include transforms(translate(1px, -2px));
  }
}
