@import 'mixins';

@import 'controls';
@import 'ninelifes-logo';
@import 'users';
@import 'gems';
@import 'sessions';
@import 'message_groups';

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face{
	font-family: chocogirl;
	src: font-url("Chocogirl.ttf") format('truetype');
}

@include keyframes(flash){
	0% {
		opacity: 0%;
	}
	10%{
		opacity: 100%;
	}
	75%{
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

@include keyframes(appear){
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@include keyframes(fade){
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.fading {
	animation-fill-mode: forwards;
	@include animations(fade linear 0.2s 3s 1);
}

.hidden {
	display:none !important;
}

.raised {
  @include raised();
}

.invisible{
	visibility: hidden !important;
}

.scrollable{
  overflow: auto !important;
}

.block {
	display: block !important;
}

input.invisible{
	position: absolute;
	width: 0px;
	height: 0px;
	z-index: -1;
}

:root{
	font-size: 12pt;
}
a:link, a:visited, a:hover{
	text-decoration: none;
	font-weight: bold;
}
a:link {
	color: inherit;
	vertical-align: middle;
}
a:visited{
	color: inherit;
}
a:hover{
	color: $hl1;
}
img.thumb {
	width: $header-height;
}
h1 {
	text-indent: 1.5em;
}

body {
	@include flexbox();
	@include flex-col();
	@include flex-wrap(nowrap);
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	font-family: "verdana", sans-serif;
	font-size: 1rem;
	min-height: 100vh;
	color: $text2;
	background-image: $bg2texture;
	overflow: hidden;
	.gems{
		height: 100%;
		@include transitions(left 0.1s ease-out, opacity 0.1s linear);
		.gem-link{
			height: $header-height;
		}
	}
	.gem{
		@include flex(1 1 100%);
	}
	.messenger-panel{
		position: absolute;
	}
	input:checked+.messenger-panel{
		right: 0px;
	}
}
.icon{
	display: inline-block;
	position: relative;
	text-align: center;
	height: 1.5em;
	width: 1.5em;
	line-height: 1.5em;
	vertical-align: middle;
}
.logo {
	line-height: 4em;
	width: 4em;
	height: 4em;
	padding: 0.5em;
	background-color: $bg1;
	border-radius: 3px;
	@include transitions(background-color linear 0.2s);
}
.logo:hover {
	background-color: $hl2;
}
header {
	@include flexbox();
	position: absolute;
	height: auto;
	top: 0px;
	z-index: 2;
	font-size: 85%;
	margin: 0px;
	overflow: visible;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: 0px 0px 1em rgba(0,0,0,0.4);
	&>.popupmenu, &>.menu{
		vertical-align: top;
	}
	.popupmenu#current_session{
		&>.label#logo {
			padding: 0px;
			border-radius: 3px;
			&:before {
				content: "";
				display: none;
			}
		}
	}
	input[type="checkbox"]:checked+.popupmenu#current_session {
		.label#logo {
			border-radius: 3px 0 0 3px;
		}
		&>*:last-child {
			border-radius: 0 3px 3px 0;
		}
	}
}

aside{
	max-width: 40%;
	@include flex(1 1 30%);
}

div.alert{
	display: block;
	position: absolute;
	min-width: 25em;
	white-space: normal;
  padding: 1em;
  border-radius: 0 1em 1em;
  box-shadow: 0.3em 0.4em 1em -0.2em rgba(0,0,0,0.7);
  top: 85%;
  left: 65%;
	@include transitions(opacity linear 0.5s);
	@include animations(fade linear 0.5s 3s 1);
	&.alert-danger{
		background-color: $delete;
	}
	&.alert-success{
		background-color: $add;
	}
	&.alert-warning{
		background-color: $edit;
	}
	&:hover{
		@include animations(none);
	}
	animation-fill-mode: forwards;
}

progress#logo_progress{
	display: none;
	position: absolute;
	top: 0;
	opacity: 0.5;
	background-repeat: no-repeat;
	@include transitions(background-color 0.2s linear);
	background-color: $bg1;
	&::-webkit-progress-bar, &::-webkit-progress-value{
		// background-image: url('ninelifes-logo.png');
		background-repeat: no-repeat;
	}
	&::-webkit-progress-bar{
		@include transitions(background-color 0.2s linear);
		background-color: $bg1;
	}
	&::-webkit-progress-value{
		background-color: $hl2;
		background-blend-mode: color-burn;
		opacity: 0.6;
	}
	&::-moz-progress-bar{
		background-color: $hl2;
		opacity: 0.6;
	}
}

form[name="search_form"] {
	display: inline-block;
	position: relative;
	align-self: center;
  min-width: 24em;
  width: 80%;
  z-index: 2;
	.field {
		position: relative;
		&::before {
			display: inline-block;
			position: relative;
			width: 13px;
			height: 13px;
			background: none;
			border: solid #ccc 3px;
			border-radius: 50%;
			content: "";
			margin: 0 7px;
		}
		&::after {
			display: block;
			position: absolute;
			background-color: #ccc;
			width: 3px;
			height: 7px;
			@include transforms(rotateZ(-25deg));
			content: "";
			top: 22px;
			left: 25px;
		}
	}
	.query-results {
		position: absolute;
    height: 80vh;
    overflow-y: auto;
    left: 0;
    width: 100%;
		color: $text3;
		background-image: $bg3texture;
		&:empty{display: none}
	}
}

pre.debug_dump{
	position: fixed;
	width: auto;
	bottom: 0px;
	opacity: 0.1;
	z-index: 100;
	font-size: 0.7rem;
	&:hover{
		opacity: 0.8;
	}
}

.pictures-collage {
	@include flexbox();
	@include flex-row();
	@include flex-wrap(wrap);
	@include order(1);
	position: relative;
	align-items: stretch;
	justify-content: stretch;
	align-content: stretch;
	height: 23em;
	@include flex(0 0 23em);
	.pic-tile {
		@include flex(1 0 50%);
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
		line-height: 11em;
		text-shadow: 0px 0px 3px black;
	}
}

.items-index {
	@include flex(1 1);
	overflow-y: auto;
	@include flex-col();
	text-align: center;
}

.page-nav {
	border-radius: 1.2em;
	font-size: 70%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.item-row {
	@include flexbox();
	@include flex-row();
	@include flex-wrap(wrap);
	position: relative;
	justify-content: center;
	padding: 2em;
	min-height: 23em;
	.item-heading, .item-subject {
		@include flex(1 0 19em);
	}
}

.item-heading {
	text-align: center;
	padding: 1em;
	@include order(1);
}

.item-subject {
	padding: 2.5em;
	@include order(3);
}

.section-selector {
	padding: 1em;
	text-align: center;
	.icon+.item-label {
		margin-left: 0.5em;
	}
}

.bottom-panel {
	font-size: 70%;
	white-space: nowrap;
}

@media (min-width: 1001px){
	@media (min-resolution: 192dpi){
		:root{
			font-size: 14pt;
		}
		@media (min-width: 1800px){
			:root{
				font-size: 20pt;
			}
		}
	}
	body{
		.popupmenu#current_session{
			@include flex-row-reverse();
		}
		input[type="checkbox"]:checked+.popupmenu#current_session {
			.label#logo {
				border-radius: 0 3px 3px 0;
			}
			&>*:last-child {
				border-radius: 3px 0 0 3px;
			}
		}
	}
	header{
		width: $header-height;
		left: 50%;
		@include transforms(translateX(-($header-height/2)));
		.popupmenu#current_session{
			height: $header-height;
			width: $header-height;
			overflow: visible;
			right: 0px;
			position: relative;
			box-shadow: 0px 0px 3em $bg2;
			.label#logo{
				font-size: $header-height/4;
			}
		}
		progress#logo_progress{
			width: $header-height;
			height: $header-height;
			background-size: $header-height $header-height;
			&::-webkit-progress-bar, &::-webkit-progress-value{
				background-size: $header-height $header-height;
			}
		}
	}
	header+:not(.gem){
		margin-top: $header-height;
	}
	.gems {
		-webkit-flex-basis: initial;
		flex-basis: initial;
	}
	#gems-button{
		display: none !important;
	}
	#gallery-button{
		display: none !important;
	}
	.gem{
		padding-top: 0px;
		.gem-page{
			border-top-width: $header-height;
			.menu#tray{
				height: $header-height;
				left: 54%;
			}
			.title{
				background-image: none !important;
				padding-top: 1em;
			}
		}
	}
	.messenger-panel{
		border-top-width: $header-height;
		width: 50%;
		right: -53%;
	}
}

@media (max-width: 1000px){
	header{
		.menu, .popupmenu, .dropdown{
			color: $text3;
			&>.label{
				&:before{
					border-left-color: $text3;
				}
			}
		}
		.popupmenu#current_session{
			height: $header-height/2;
			.label#logo{
				font-size: $header-height/8;
			}
		}
		.menu#tray{
			height: $header-height/2;
		}
		progress#logo_progress{
			height: $header-height/2;
			width: $header-height/2;
			background-size: $header-height/2 $header-height/2;
			&::-webkit-progress-bar, &::-webkit-progress-value{
				background-size: $header-height/2 $header-height/2;
			}
		}
	}
	header+:not(.gem){
		margin-top: $header-height/2;
	}
	.section-selector {
		.menuitem:hover::after {
			@include hint(attr(alt));
		}
		.icon+.item-label {
			display: none !important;
		}
	}
	.prod-row .item-heading {
		@include order(2);
		position: absolute;
    color: white;
		text-shadow: 0px 0px 3px black;
		z-index: 1;
	}
	.gems{
		position: absolute;
		margin-top: $header-height/2;
		left: -1.2*($header-height);
		@include transitions(left 0.1s ease-out);
	}
	input:checked+.gems{
		left: 0px;
	}
	.gem{
		padding-top: 0px;
		background-color: $bg3;
		background-image: $bg3texture;
		.pictures{
			position: fixed;
			left: 0px;
			height: 100vh;
			width: 100vw;
			opacity: 0;
			@include transforms(translateY(3em));
			.gallery, .button{
				opacity: 1;
			}
		}
		input:checked+.pictures{
			@include transitions(opacity 0.25s linear,
			transform 0.3s ease-out);
			opacity: 1;
			@include transforms(translateY(0px));
			z-index:1;
		}
		input:not(:checked)+.pictures{
			@include transitions(opacity 0.25s linear,
			transform 0.3s ease-out,
			z-index 0.1s linear 0.3s);
			z-index:-1;
		}
		.picture{
			width: $header-height/2;
		}
		.gem-page{
			border-top-width:$header-height/2;
			color: $text3;
			.menu#tray{
				height: $header-height/2;
				left: $header-height/2;
			}
		}
	}
	.messenger-panel{
		border-top-width: $header-height/2;
		width: 100%;
		right: -110%;
	}
	.user-page {
		@include flex-wrap(wrap);
		overflow-y: auto;
		.user-actions {
			@include flex(1 0 100%);
		}
	}
}
