@import 'mixins.scss';

@include keyframes(shade) {
  0%{width:0px;height:0px;opacity: 0;}
  1%{width:100%;height:100%;opacity: 0.01;}
  100%{width:100%;height:100%;opacity: 1;}
}

@include keyframes(unshade) {
  0%{width:100%;height:100%;opacity: 1;}
  99%{width:100%;height:100%;opacity: 0.01;}
  100%{width:0;height:0;opacity: 0;}
}

a.thumbnail{
  display: inline-block;
  line-height: 0;
}

.pictures{
  position: relative;
  min-width: 320px;
  height: 100vh;
  width: 100vw;
  background-color: inherit;
  .view{
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    @include transitions(opacity 0.3s linear);
    img.imageview{
      position: relative;
      display: block;
      top: 0px;
      left: 0px;
      width: 100vmin;
    }
  }
  .button{
    position: absolute;
    font-size: 1em;
    right: 0.3em;
    margin: 0.2em;
    &#zoom-in{
      top: $header-height;
    }
    &#zoom-out{
      top: $header-height+3rem;
    }
  }
  .shade{
    position: absolute;
    top: 0px;
    left: 0px;
    width:0px;
    height:0px;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at center center, transparent, black);
    @include transitions(opacity 0.3s linear);
  }
  &[loaded="true"]{
    .shade{
      @include animations(unshade 0.3s linear 1 both);
    }
    .view{
      opacity:1;
    }
  }
  &[loaded="false"]{
    .shade{
      @include animations(shade 0.3s linear 1 both);
    }
    .view{
      opacity:0;
    }
  }
  .gallery{
    position: absolute;
    @include flexbox();
    @include flex-col();
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    direction: rtl;
    max-height: 50%;
    bottom: 0px;
    right: 0px;
    background-color: $bg2;
    box-shadow: 0px 0px 15px black;
    @include transitions(opacity 0.2s ease);
    .picture, .pic-tile{
      @extend %appearing;
      @include order(1);
      display: inline-block;
      flex: 0 0 auto;
      line-height: 0;
      border: solid transparent;
      border-width: 0px 0px 0px 2px;
      position: relative;
      max-width: $header-height;
      &:hover{
        border-color: $hl2;
      }
    }
    label.delete{
      position: absolute;
      font-size: 50%;
      top: 0.5em;
      right: 0.5em;
      @include order(1);
    }
    label.add {
      @extend .picture;
      @include order(2);
      font-size: 1.5em;
      line-height: 1.7em;
    }
  }

  // &:hover {
  //   .gallery, .button{
  //     opacity: 1;
  //   }
  // }
}
.pictures>.button {
  display: none;
}
.pictures[data-editmode] {
  .button {
    display: initial;
  }
  .gallery {
    display: none;
  }
}
