// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins';

div.login-form{
  padding: 4em 2em 0em;
  max-width: 50em;
  font-size: 1.1rem;
}

form {
  span.editor{
    @extend .field;
    @include flex-col();
    .editor-toolbar{
			background-color: $bg3;
		}
  }
  .button#clear{
    background-color: brick;
    @include transitions(opacity linear 0.2s);
  }
  img#avatar[default]+.button#clear{
    display:none;
  }
  input[type="submit"]{
    display: block;
    width: 100%;
    height: 2.5rem;
    background-color: #444;
    border: none;
    font-size: 1.1rem;
    color: inherit;
    &:hover{
      background-color: #555;
    }
  }
  .button#cancel {
    display: block;
  }
}

img.social-login {
  display: inline-block;
  @include transitions(box-shadow linear 0.2s, filter linear 0.2s);
  &#google {
    width: 12em;
    height: 3em;
    &:hover {

    }
    &:active {

    }
    &:disabled {

    }
  }
  &#facebook {
    width: 15em;
    height: 2.5em;
    &:hover {

    }
    &:active {

    }
    &:disabled {

    }
  }
  &:hover {
    box-shadow: 0px 0px 5px rgba(60, 91, 221, 0.8);
  }
  &:active {
    @include filter(brightness(95%));
  }
  &:disabled {
    @include filter(grayscale(100%));
  }
}
