@import 'mixins.scss';

.tags{
  &:before{
    content:"Tags: ";
  }
  .tag, .button, input.newtag, form.newtag{
    display: inline-block;
    vertical-align: middle;
  }
  form.newtag{
    border: none;
    margin: 0;
  }
  input.newtag{
    border: none;
    border-bottom: solid 1px transparent;
    overflow:hidden;
  }
  .button{
    font-size:70%;
  }
  input.newtag:not(:focus){
    width: 2.4em;
    text-align: center;
    &::placeholder {
      color: inherit;
      font-size: 200%;
      position: relative;
      top: 0.2em;
    }
  }
  input.newtag:focus{
    width:auto;
    height: 4em;
    line-height: 4em;
    border-radius: 2em;
    color:inherit;
    border-bottom-color: inherit;
    background-color: inherit;
    outline: none;
    font-size: 100%;
  }
  // input.newtag:focus+.button{
  //   width: 0;
  //   opacity: 0;
  // }
}

.tag{
  @extend %appearing;
  position: relative;
  min-width: 4em;
  height: 4em;
  line-height: 4em;
  border-radius: 2em;
  text-align: center;
  margin: 0 0.5em;
  padding: 0 0.3em;
  @include label_colors($text3, $bg1);
  &:hover:after {
    @include hint("+" attr(data-count));
  }
  a:hover {
    color: $text3 !important;
  }
  .button {
    position: absolute;
    top: 0;
    left: 90%;
  }
}
