img.avatar{
	vertical-align: middle;
	margin: 0px 3px 0px;
	height: 1.6em;
	width: 1.6em;
	border-radius: 50%;

	&[default] {
		@include filter(grayscale(30));
		opacity: 0.7;
	}
}


.user-page{
	padding: 1em;
	height: 100vh;
	@include flexbox();
	.user-page-profile{
		padding: 1em;
		@include flex(0 0 30%);
	}
	.user-prods {
		overflow: none auto;
		min-width: $header-height;
		min-height: $header-height;
		& > * {
			@include flex(0 0 $header-height);
		}
	}
	.user-actions{
		@include flex(1 1);
		padding: 1em;
		overflow: auto;
		.actions-filter {

		}
	}
}

.user-action{
	font-size: 0.9em;
	line-height: 1em;
}

.button.text-user {
	font-size: 0.8rem;
	vertical-align: middle;
}

.user-row .pictures-collage:before {
	@include hint("New Gems:");
	bottom: unset;
	left: 1em;
	top: 0.5em;
}
