<div class="section-selector">
  <ul class="selector">

    <li class="label">
      <div class="icon">
        <%= render file: "app/assets/images/filter.svg" %>
      </div>
    </li>

    <% provide(:title, "Friends activity") if @section == "friends" %>
    <%= section_nav_tag "Friends",
      icon: "app/assets/images/message-group-icon.svg",
      url: root_url(section: "friends"),
      selected: @section == "friends",
      inactive: @current_user.nil? %>

    <li class="divider"></li>

    <% provide(:title, "Favourites") if @section == "favourites" %>
    <%= section_nav_tag "Favourites",
      icon: "app/assets/images/button-bookmark.svg",
      url: root_url(section: "favourites"),
      selected: @section == "favourites",
      inactive: @current_user.nil? %>

    <li class="divider"></li>

    <% provide(:title, "My Gems") if @section == "my" %>
    <%= section_nav_tag "My Gems",
      url: root_url(section: "my"),
      selected: @section == "my",
      inactive: @current_user.nil? do %>
      <% link_to new_prod_url do %>
  			<div class="button add raised">
  				<%= render file: 'app/assets/images/button-add2.svg' %>
  			</div>
			<% end %>
		<% end %>

    <li class="divider"></li>

    <% provide(:title, "Gems") if @section.nil? %>
    <%= section_nav_tag "Gems",
      url: root_url,
      selected: @section.nil? %>
  </ul>
</div>

<%= render "shared/search_form", endpoint: home_filtering_path(section: @section), query: @filter %>

<div class="items-index">
  <% if @page > 0 %>
    <div class="button raised page-nav">
      <%= link_to "<< Previous page", root_url(section: @section, page: @page-1) %>
    </div>
  <% end %>
  <% if @items.empty? %>
    <center>No items to display here.</center>
  <% else %>
    <% @items.each do |item| %>
      <% if !@section.nil? && @section == "friends" %>
        <%= render partial: "users/user", locals: {user: item} %>
      <% else %>
        <%= render partial: "prods/prod", locals: {prod: item} %>
      <% end %>
    <% end %>
  <% end %>
  <% if @page < @max_page %>
    <div class="button raised page-nav">
      <%= link_to "Next page >>", root_url(section: @section, page: @page+1) %>
    </div>
  <% end %>
</div>

<div class="bottom-panel">
  <%= render partial: "tags/tag_list", locals: {tags: Tag.list.includes(:similar).order(:name), taggable: nil} %>
</div>
