$(".items-index").html(`
<% if @page > 0 %>
  <%= j link_to "Previous page ... ", root_url(section: @section, page: @page-1) %>
<% end %>
<% if @items.empty? %>
  <center>No items to display here.</center>
<% else %>
  <% @items.each do |item| %>
    <% if !@section.nil? && @section == "Friends activity" %>
      <%= j render partial: "users/user", locals: {user: item} %>
    <% else %>
      <%= j render partial: "prods/prod", locals: {prod: item} %>
    <% end %>
  <% end %>
<% end %>
<% if @page < @max_page %>
  <%= j link_to "Next page ... ", root_url(section: @section, page: @page+1) %>
<% end %>
`);
