<script type="text/javascript">
	var self_url, vapidPublicKey;
</script>
<input type=checkbox class="invisible" id="mainmenu-toggle" />
<ul class="popupmenu raised panel" id="current_session">
  <li class="label" id="logo">
    <label for="mainmenu-toggle">
      <div class="icon logo" id="nls">
				<%= render file: 'app/assets/images/ninelifes-logo.svg' %>
      </div>
      <progress id="logo_progress"></progress>
    </label>
  </li>

	<% if logged_in? %>
	  <% unread_count = @current_user.unread_messages_count %>
	  
    <li class="menuitem">
      <%= link_to message_groups_path do %>
        <div class="button raised" id="messenger-button" <%= "counter=#{unread_count}" unless unread_count == 0 %>>
          <%= render file: 'app/assets/images/button-message.svg' %>
        </div>
      <% end %>
    </li>

	  <input type=checkbox class="invisible" id="user-dropdown" />
		<ul class="menuitem menu dropdown" id="current_user">
		  <li class="label">
		    <label for="user-dropdown">
		      <%= render partial:"users/user_line", locals:{user: @current_user} %>
        </label>
		  </li>
			<li class="menuitem"><label for="user-dropdown"><%= link_to "Profile", current_user %></label></li>
			<li class="divider"></li>
			<li class="menuitem"><label for="user-dropdown"><%= link_to "Log out", logout_path, method: "delete" %></label></li>
		</ul>

		<script type="text/javascript">
			self_url = "<%= subscribe_user_url(@current_user) %>";
			vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.config.vapidKey.public_key).bytes %>);
		</script>
    
	<% else %>

		<li class="menuitem"><%= link_to "Log in", login_path %></li>
		<li class="menuitem"><%= link_to "Sign up", signup_path %></li>

	<% end %>
  <li class="divider"></li>
  <li class="menuitem">
    <%= link_to "Search", search_path %>
  </li>
  <li class="menuitem">
    <%= link_to "Home", root_path %>
  </li>
</ul>

<% flash.each do |message_type, message| %>
  <%= content_tag :div, class: ["alert", "alert-#{message_type}"] do %>
		<%= message %>
	<% end %>
<% end %>
