<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320"/>
    <meta name="HandheldFriendly" content="true"/>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json" />
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <script>
      const APP_ICON = "<%= asset_path 'nl-icon-96x96.png' %>";
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%=  render "layouts/shim"  %>
  </head>
  <body>
    <header>
      <%=  render "layouts/header"  %>
    </header>
    <%= yield %>
    <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
